<style type="text/css">
    #txta_content {
        width: 90%;
        height: 80px;
        overflow: auto;
        border: 1px solid #c5c5c5;
    }
    .static-info {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    {include layout/left.html}
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN STYLE CUSTOMIZER -->
            <!-- END STYLE CUSTOMIZER -->
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
            </h3>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- Begin: life time stats -->
                    <div class="portlet">


                        <div class="portlet-body">
                            <div class="tabbable">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-12">
                                                <div class="portlet yellow-crusta box">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <i class="fa fa-cogs"></i>停解封账号
                                                        </div>
                                                        <!--<div class="actions">-->
                                                            <!--<a href="javascript:;" class="btn btn-default btn-sm">-->
                                                                <!--<i class="fa fa-pencil"></i> Edit </a>-->
                                                        <!--</div>-->
                                                    </div>

                                                    <div class="portlet-body">
                                                        <div class="row static-info">
                                                            <div class="col-md-5 name">
                                                                UID
                                                            </div>
                                                            <div class="col-md-7 value">
                                                                <input id="uid" type="text" name="" style="width: 60%">
                                                            </div>
                                                        </div>

                                                        <div class="row static-info">
                                                            <div class="col-md-5 name">
                                                                类型
                                                            </div>
                                                            <div class="col-md-7 value">
                                                                <select id="type_select" class="form-control form-filter input-sm" style="width: 60%">
                                                                    <option value="">请选择</option>
                                                                    {foreach ($operate as  $k=>$v)  }
                                                                    <option value="{$k}">{$v}</option>
                                                                    {/foreach}
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="row static-info" id="duration">
                                                            <div class="col-md-5 name">
                                                                封停时间
                                                            </div>
                                                            <div class="col-md-7 value">
                                                                <select id="duration_select" class="form-control form-filter input-sm" style="width: 60%">
                                                                    <option value="">请选择</option>
                                                                    {foreach ($durationDesc as  $k=>$v)  }
                                                                    <option value="{$k}">{$v}</option>
                                                                    {/foreach}
                                                                    <option value="custom">自定义时间</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="row static-info" id="custom_div" style="display: none;">
                                                            <div class="col-md-5 name">
                                                                
                                                            </div>
                                                            <div class="col-md-7 value">
                                                                <input id="custom_time" type="text" name="" style="width: 60%"> 分钟
                                                            </div>
                                                        </div>

                                                        <div class="row static-info" id="reason">
                                                            <div class="col-md-5 name">
                                                                封停原因
                                                            </div>

                                                            <div class="col-md-7 value">
                                                                <textarea id="txta_content" wrap="logical"></textarea>
                                                            </div>
                                                        </div>

                                                        <div class="row static-info">
                                                            <div class="col-md-5 name">
                                                                <button id='submit' class="btn btn-sm green"><i class="fa fa-check"></i> 确认</button>
                                                            </div>

                                                            <div class="col-md-7 value">
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End: life time stats -->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN QUICK SIDEBAR -->
    <!-- END QUICK SIDEBAR -->
</div>

<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;">
            <img id="bigimg" style="border:5px solid #fff;text-align: center;" src="" />
    </div>
</div>  
    
<script>
    $(document).ready(function(){
        $("#type_select").change(function(){
            if ($(this).find("option:selected").val() == 2) {
                $("#duration").hide();
                $("#reason").hide();
                $("#custom_div").attr('style','display: none;');
            } else if ($(this).find("option:selected").val() == 1) {
                $("#duration").show();
                $("#reason").show();
                if ($("#duration_select").find("option:selected").val() == "custom") {
                    $("#custom_div").attr('style','display: block;');
                }
            }
        });
        $("#duration_select").change(function(){
            if ($(this).find("option:selected").val() == "custom") {
                $("#custom_div").attr('style','display: block;');
            } else {
                $("#custom_div").attr('style','display: none;');
            }
        });
        $("#submit").click(function(){
            var uid = $("#uid").val();
            var type = $("#type_select").find("option:selected").val();
            var duration = $("#duration_select").find("option:selected").val();
            if (duration == "custom") {
                duration = $("#custom_time").val() * 60;
            }
            var reason = $("#txta_content").val();

            if (uid == '' || type == '') {
                alert("请补全信息");return;
            }
            var url = "";
            if (type == 1) {
                if (duration == '' || reason == '') {
                    alert("请补全信息");return;
                }
                url = "/user/no/userBlock/block/";
            } else if (type == 2) {
                url = "/user/no/userBlock/unblock/";
            }
            if(confirm('确定要执行操作吗')==true){
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        uid:uid,
                        type:type,
                        duration:duration,
                        reason:reason,
                    },
                    dataType:'json',
                    success: function(data){
                        if (data.code == 200) {
                            alert("操作成功");
                        } else {
                            alert(data.message);
                        }
                        
                    }
                });

            }
        });
    });

</script>