<script>

    var yearList = eval({$yearList});
    var monthList =  eval({$monthList});
    var visitors = [
        // ['02/2013', 1500],
        // ['03/2013', 2500],
        // ['04/2013', 1700],
        // ['05/2013', 800],
        // ['06/2013', 1500],
        // ['07/2013', 2350],
        // ['08/2013', 1500],
        // ['09/2013', 1300],
        // ['10/2013', 4600]
    ];

    function initYearSel(){
        var yearSel = $("#year");
        var options = "";
        for(var i=0;i<yearList.length;i++){
            options += "<option value="+yearList[i]+">"+ yearList[i] + "</option>";
        }
        yearSel.html(options);
    }

    function initMonthSel(){
        var monthSel = $("#month");
        var options = "";
        for(var i=0;i<monthList.length;i++){
            options += "<option value="+monthList[i]+">"+ monthList[i] + "</option>";
        }
        monthSel.html(options);
    }

    function monthChange(){
        setDefaultChart();
    }


    function get_month_last_day(year,month){
        // alert(year);alert(month);
        // if(substr(month,0,1) === 0)
        //     month = substr(month,1,1);

        month = parseInt(month);
        var rs = 0;
        switch (month){
            case 1:
                rs = 31;break;
            case 2:
                if(year % 4 == 0)
                    rs = 28;
                else
                    rs = 29;
                break;
            case 3:
                rs = 31;break;
            case 4:
                rs = 30;break;
            case 5:
                rs = 31;break;
            case 6:
                rs = 30;break;
            case 7:
                rs = 31;break;
            case 8:
                rs = 31;break;
            case 9:
                rs = 30;break;
            case 10:
                rs = 31;break;
            case 11:
                rs = 30;break;
            case 12:
                rs = 31;break;
            default:

        }

        return rs;
    }

    function setDefaultChart(){
        var selYear = $("#year").val();
        var selMonth =  $("#month").val();

        $.ajax({
            //请求方式
            type : "POST",
            //请求的媒体类型
            // contentType: "application/json;charset=UTF-8",
            //请求地址
            url : "/index/no/chart/getUserByYearMonth/year="+selYear+"&month="+selMonth,
            //数据，json字符串
            // data :,
            //请求成功
            success : function(result) {
                console.log(result);
                result = eval("(" + result + ")");
                visitors = result.msg;
                Index.initCharts();
            },
            //请求失败，包含具体的错误信息
            error : function(e){
                console.log(e.status);
                console.log(e.responseText);
            }
        });


        // var lastDay = get_month_last_day(selYear,selMonth);
        // alert(lastDay);

    }

    initYearSel();
    initMonthSel();
    setDefaultChart();

    var Index = function () {

        return {

            //main function
            // init: function () {
            //     Metronic.addResizeHandler(function () {
            //         jQuery('.vmaps').each(function () {
            //             var map = jQuery(this);
            //             map.width(map.parent().width());
            //         });
            //     });
            // },

            initCharts: function () {
                if (!jQuery.plot) {
                    return;
                }

                function showChartTooltip(x, y, xValue, yValue) {
                    $('<div id="tooltip" class="chart-tooltip">' + yValue + '<\/div>').css({
                        position: 'absolute',
                        display: 'none',
                        top: y - 40,
                        left: x - 40,
                        border: '0px solid #ccc',
                        padding: '2px 6px',
                        'background-color': '#fff'
                    }).appendTo("body").fadeIn(200);
                }

                var data = [];
                var totalPoints = 250;

                // random data generator for plot charts

                function getRandomData() {
                    if (data.length > 0) data = data.slice(1);
                    // do a random walk
                    while (data.length < totalPoints) {
                        var prev = data.length > 0 ? data[data.length - 1] : 50;
                        var y = prev + Math.random() * 10 - 5;
                        if (y < 0) y = 0;
                        if (y > 100) y = 100;
                        data.push(y);
                    }
                    // zip the generated y values with the x values
                    var res = [];
                    for (var i = 0; i < data.length; ++i) res.push([i, data[i]])
                    return res;
                }

                function randValue() {
                    return (Math.floor(Math.random() * (1 + 50 - 20))) + 10;
                }

                if ($('#site_statistics').size() != 0) {

                    $('#site_statistics_loading').hide();
                    $('#site_statistics_content').show();

                    var plot_statistics = $.plot($("#site_statistics"),
                        [{
                            data: visitors,
                            lines: {
                                fill: 0.6,
                                lineWidth: 0
                            },
                            color: ['#f89f9f']
                        }, {
                            data: visitors,
                            points: {
                                show: true,
                                fill: true,
                                radius: 5,
                                fillColor: "#f89f9f",
                                lineWidth: 3
                            },
                            color: '#fff',
                            shadowSize: 0
                        }],

                        {
                            xaxis: {
                                tickLength: 0,
                                tickDecimals: 0,
                                mode: "categories",
                                min: 0,
                                font: {
                                    lineHeight: 14,
                                    style: "normal",
                                    variant: "small-caps",
                                    color: "#6F7B8A"
                                }
                            },
                            yaxis: {
                                ticks: 5,
                                tickDecimals: 0,
                                tickColor: "#eee",
                                font: {
                                    lineHeight: 14,
                                    style: "normal",
                                    variant: "small-caps",
                                    color: "#6F7B8A"
                                }
                            },
                            grid: {
                                hoverable: true,
                                clickable: true,
                                tickColor: "#eee",
                                borderColor: "#eee",
                                borderWidth: 1
                            }
                        });

                    var previousPoint = null;
                    $("#site_statistics").bind("plothover", function (event, pos, item) {
                        $("#x").text(pos.x.toFixed(2));
                        $("#y").text(pos.y.toFixed(2));
                        if (item) {
                            if (previousPoint != item.dataIndex) {
                                previousPoint = item.dataIndex;

                                $("#tooltip").remove();
                                var x = item.datapoint[0].toFixed(2),
                                    y = item.datapoint[1].toFixed(2);

                                showChartTooltip(item.pageX, item.pageY, item.datapoint[0], item.datapoint[1] + ' new');
                            }
                        } else {
                            $("#tooltip").remove();
                            previousPoint = null;
                        }
                    });
                }


                if ($('#site_activities').size() != 0) {
                    //site activities
                    var previousPoint2 = null;
                    $('#site_activities_loading').hide();
                    $('#site_activities_content').show();

                    var data1 = [
                        ['DEC', 300],
                        ['JAN', 600],
                        ['FEB', 1100],
                        ['MAR', 1200],
                        ['APR', 860],
                        ['MAY', 1200],
                        ['JUN', 1450],
                        ['JUL', 1800],
                        ['AUG', 1200],
                        ['SEP', 600]
                    ];


                    var plot_statistics = $.plot($("#site_activities"),

                        [{
                            data: data1,
                            lines: {
                                fill: 0.2,
                                lineWidth: 0,
                            },
                            color: ['#BAD9F5']
                        }, {
                            data: data1,
                            points: {
                                show: true,
                                fill: true,
                                radius: 4,
                                fillColor: "#9ACAE6",
                                lineWidth: 2
                            },
                            color: '#9ACAE6',
                            shadowSize: 1
                        }, {
                            data: data1,
                            lines: {
                                show: true,
                                fill: false,
                                lineWidth: 3
                            },
                            color: '#9ACAE6',
                            shadowSize: 0
                        }],

                        {

                            xaxis: {
                                tickLength: 0,
                                tickDecimals: 0,
                                mode: "categories",
                                min: 0,
                                font: {
                                    lineHeight: 18,
                                    style: "normal",
                                    variant: "small-caps",
                                    color: "#6F7B8A"
                                }
                            },
                            yaxis: {
                                ticks: 5,
                                tickDecimals: 0,
                                tickColor: "#eee",
                                font: {
                                    lineHeight: 14,
                                    style: "normal",
                                    variant: "small-caps",
                                    color: "#6F7B8A"
                                }
                            },
                            grid: {
                                hoverable: true,
                                clickable: true,
                                tickColor: "#eee",
                                borderColor: "#eee",
                                borderWidth: 1
                            }
                        });

                    $("#site_activities").bind("plothover", function (event, pos, item) {
                        $("#x").text(pos.x.toFixed(2));
                        $("#y").text(pos.y.toFixed(2));
                        if (item) {
                            if (previousPoint2 != item.dataIndex) {
                                previousPoint2 = item.dataIndex;
                                $("#tooltip").remove();
                                var x = item.datapoint[0].toFixed(2),
                                    y = item.datapoint[1].toFixed(2);
                                showChartTooltip(item.pageX, item.pageY, item.datapoint[0], item.datapoint[1] + 'M$');
                            }
                        }
                    });

                    $('#site_activities').bind("mouseleave", function () {
                        $("#tooltip").remove();
                    });
                }
            },

            initChat: function () {

                var cont = $('#chats');
                var list = $('.chats', cont);
                var form = $('.chat-form', cont);
                var input = $('input', form);
                var btn = $('.btn', form);

                var handleClick = function (e) {
                    e.preventDefault();

                    var text = input.val();
                    if (text.length == 0) {
                        return;
                    }

                    var time = new Date();
                    var time_str = (time.getHours() + ':' + time.getMinutes());
                    var tpl = '';
                    tpl += '<li class="out">';
                    tpl += '<img class="avatar" alt="" src="' + Layout.getLayoutImgPath() + 'avatar1.jpg"/>';
                    tpl += '<div class="message">';
                    tpl += '<span class="arrow"></span>';
                    tpl += '<a href="#" class="name">Bob Nilson</a>&nbsp;';
                    tpl += '<span class="datetime">at ' + time_str + '</span>';
                    tpl += '<span class="body">';
                    tpl += text;
                    tpl += '</span>';
                    tpl += '</div>';
                    tpl += '</li>';

                    var msg = list.append(tpl);
                    input.val("");

                    var getLastPostPos = function () {
                        var height = 0;
                        cont.find("li.out, li.in").each(function () {
                            height = height + $(this).outerHeight();
                        });

                        return height;
                    }

                    cont.find('.scroller').slimScroll({
                        scrollTo: getLastPostPos()
                    });
                }

                $('body').on('click', '.message .name', function (e) {
                    e.preventDefault(); // prevent click event

                    var name = $(this).text(); // get clicked user's full name
                    input.val('@' + name + ':'); // set it into the input field
                    Metronic.scrollTo(input); // scroll to input if needed
                });

                btn.click(handleClick);

                input.keypress(function (e) {
                    if (e.which == 13) {
                        handleClick(e);
                        return false; //<---- Add this line
                    }
                });
            },

            initDashboardDaterange: function () {

                if (!jQuery().daterangepicker) {
                    return;
                }

                $('#dashboard-report-range').daterangepicker({
                        opens: (Metronic.isRTL() ? 'right' : 'left'),
                        startDate: moment().subtract('days', 29),
                        endDate: moment(),
                        minDate: '01/01/2012',
                        maxDate: '12/31/2014',
                        dateLimit: {
                            days: 60
                        },
                        showDropdowns: false,
                        showWeekNumbers: true,
                        timePicker: false,
                        timePickerIncrement: 1,
                        timePicker12Hour: true,
                        ranges: {
                            'Today': [moment(), moment()],
                            'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                            'Last 7 Days': [moment().subtract('days', 6), moment()],
                            'Last 30 Days': [moment().subtract('days', 29), moment()],
                            'This Month': [moment().startOf('month'), moment().endOf('month')],
                            'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                        },
                        buttonClasses: ['btn btn-sm'],
                        applyClass: ' blue',
                        cancelClass: 'default',
                        format: 'MM/DD/YYYY',
                        separator: ' to ',
                        locale: {
                            applyLabel: 'Apply',
                            fromLabel: 'From',
                            toLabel: 'To',
                            customRangeLabel: 'Custom Range',
                            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                            firstDay: 1
                        }
                    },
                    function (start, end) {
                        $('#dashboard-report-range span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                    }
                );


                $('#dashboard-report-range span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
                $('#dashboard-report-range').show();
            }

        };

    }();

    // Index.init();
    // Index.initDashboardDaterange();
    // Index.initJQVMAP(); // init index page's custom scripts
    // Index.initCalendar(); // init index page's custom scripts
    // Index.initCharts(); // init index page's custom scripts
    // Index.initChat();
    // Index.initMiniCharts();

</script>


<script>
    function chart2() {
        if ($('#chart_2').size() != 1) {
            return;
        }

        function randValue() {
            return (Math.floor(Math.random() * (1 + 40 - 20))) + 20;
        }
        var pageviews = [
            [1, randValue()],
            [2, randValue()],
            [3, 2 + randValue()],
            [4, 3 + randValue()],
            [5, 5 + randValue()],
            [6, 10 + randValue()],
            [7, 15 + randValue()],
            [8, 20 + randValue()],
            [9, 25 + randValue()],
            [10, 30 + randValue()],
            [11, 35 + randValue()],
            [12, 25 + randValue()],
            [13, 15 + randValue()],
            [14, 20 + randValue()],
            [15, 45 + randValue()],
            [16, 50 + randValue()],
            [17, 65 + randValue()],
            [18, 70 + randValue()],
            [19, 85 + randValue()],
            [20, 80 + randValue()],
            [21, 75 + randValue()],
            [22, 80 + randValue()],
            [23, 75 + randValue()],
            [24, 70 + randValue()],
            [25, 65 + randValue()],
            [26, 75 + randValue()],
            [27, 80 + randValue()],
            [28, 85 + randValue()],
            [29, 90 + randValue()],
            [30, 95 + randValue()]
        ];
        var visitors = [
            [1, randValue() - 5],
            [2, randValue() - 5],
            [3, randValue() - 5],
            [4, 6 + randValue()],
            [5, 5 + randValue()],
            [6, 20 + randValue()],
            [7, 25 + randValue()],
            [8, 36 + randValue()],
            [9, 26 + randValue()],
            [10, 38 + randValue()],
            [11, 39 + randValue()],
            [12, 50 + randValue()],
            [13, 51 + randValue()],
            [14, 12 + randValue()],
            [15, 13 + randValue()],
            [16, 14 + randValue()],
            [17, 15 + randValue()],
            [18, 15 + randValue()],
            [19, 16 + randValue()],
            [20, 17 + randValue()],
            [21, 18 + randValue()],
            [22, 19 + randValue()],
            [23, 20 + randValue()],
            [24, 21 + randValue()],
            [25, 14 + randValue()],
            [26, 24 + randValue()],
            [27, 25 + randValue()],
            [28, 26 + randValue()],
            [29, 27 + randValue()],
            [30, 31 + randValue()]
        ];

        var plot = $.plot($("#chart_2"), [{
            data: pageviews,
            label: "Unique Visits",
            lines: {
                lineWidth: 1,
            },
            shadowSize: 0

        }, {
            data: visitors,
            label: "Page Views",
            lines: {
                lineWidth: 1,
            },
            shadowSize: 0
        }], {
            series: {
                lines: {
                    show: true,
                    lineWidth: 2,
                    fill: true,
                    fillColor: {
                        colors: [{
                            opacity: 0.05
                        }, {
                            opacity: 0.01
                        }]
                    }
                },
                points: {
                    show: true,
                    radius: 3,
                    lineWidth: 1
                },
                shadowSize: 2
            },
            grid: {
                hoverable: true,
                clickable: true,
                tickColor: "#eee",
                borderColor: "#eee",
                borderWidth: 1
            },
            colors: ["#d12610", "#37b7f3", "#52e136"],
            xaxis: {
                ticks: 11,
                tickDecimals: 0,
                tickColor: "#eee",
            },
            yaxis: {
                ticks: 11,
                tickDecimals: 0,
                tickColor: "#eee",
            }
        });


        function showTooltip(x, y, contents) {
            $('<div id="tooltip">' + contents + '</div>').css({
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x + 15,
                border: '1px solid #333',
                padding: '4px',
                color: '#fff',
                'border-radius': '3px',
                'background-color': '#333',
                opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }

        var previousPoint = null;
        $("#chart_2").bind("plothover", function(event, pos, item) {
            $("#x").text(pos.x.toFixed(2));
            $("#y").text(pos.y.toFixed(2));

            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);

                    showTooltip(item.pageX, item.pageY, item.series.label + " of " + x + " = " + y);
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    }

    chart2();

</script>