.idea
storage/log/*
storage/session/*
storage/view_c/*
storage/product_tb/*
storage/deploy/*
storage/img_resize/*
storage/tb_product/*

/vendor
/doc
/static
/static/upload/

configcenter/api/env/local
configcenter/instantplayadmin/env/local
configcenter/agent/env/local

kernel/plugins/structure/testData
