.idea
storage/log/*
storage/session/*
storage/view_c/*
storage/product_tb/*
storage/deploy/*
storage/img_resize/*

/doc
/static
/static/upload/

configcenter/api/env/local
configcenter/instantplayadmin/env/local

kernel/plugins/structure/testData