<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->

    {include layout/left.html}


    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>添加订单
                            </div>
                            <div class="actions">
                                <a href="{$this->_backListUrl}" class="btn btn-default btn-sm">
                                    <i class="fa fa-arrow-left"></i> 返回列表 </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <form action="?opt=1" method="post" id="form_sample_3" class="form-horizontal" enctype="multipart/form-data">
                                <div class="form-body">
                                    <div class="alert alert-danger display-hide">
                                        <button class="close" data-close="alert"></button>
                                        You have some form errors. Please check below.
                                    </div>
                                    <div class="alert alert-success display-hide">
                                        <button class="close" data-close="alert"></button>
                                        表单验证成功
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">商品ID-数量<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <textarea name="gidsNums"></textarea>
                                            <span class="help-block">
											e.g: 1234-1 , 1235-99 , 1236-45
                                        </span>
                                        </div>
                                        <span class="help-block">
											 商品ID可以去商品列表中查看
                                        </span>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3">uid<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control form-filter input-sm" name="uid">
                                        </div>

                                        <span class="help-block">
											 用户id可以去用户列表中查看
                                        </span>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3">收货地址id<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control form-filter input-sm" name="userSelAddressId">
                                        </div>
                                        <span class="help-block">
											 id可以去用户收货地址中查看
                                        </span>
                                    </div>



                                    <div class="form-group">
                                        <label class="control-label col-md-3">分享者uid
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control form-filter input-sm" name="share_uid">
                                        </div>
                                        <span class="help-block">
											 用户id可以去用户列表中查看
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">备注
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control form-filter input-sm" name="memo">
                                        </div>
                                    </div>





                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn green sub_click">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                        <!-- END VALIDATION STATES-->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
