{include /layout/left_manager.html}
			<div class="iframeBox">
				<div class="statisticsBody">
					<div class="statisticsLi">
						<div class="section">
							<div class="title">数据分析</div>
							<div>
								<select id="type_select" class="activeUser">
									<option value="9">活跃</option>
									<option value="10">新增</option>
									<option value="1">流水</option>
									<option value="19">1日留存</option>
									<option value="7">ARPU</option>
									<option value="5">付费率</option>
									<option value="6">ARPU</option>
								</select>
								<select id="dateType_select" class="activeUser">
									<option value="1">按天查看</option>
									<option value="2">按周查看</option>
									<option value="3">按月查看</option>
								</select>
								<div class="dateInterval">
									<input class="laydateInput" id="laydate-start" type="text" placeholder="开始时间" /> - <input class="laydateInput" id="laydate-end" type="text" placeholder="结束时间" />
								</div>
								<span class="searchBtn">搜索</span>
							</div>
							<div class="gameBox">
								<div class="fl">
									<div id="gameLine" style="width: 530px;height:350px;"></div>
								</div>
								<div class="fr">
									<div id="gamePie" style="width: 400px;height:350px;"></div>
								</div>
							</div>
							
						</div>
						<div class="section">
							<div class="title">详细数据</div>
							<div class="grandTotal">
								<table id="visit_t1" class="table">
									<tr class="TH"> <th>日期</th> <th>新增玩家</th> <th>活跃玩家</th> <th>流水</th> <th>付费玩家</th><th>累计流水</th><th>累计付费玩家</th><th>累计玩家</th><th>操作</th></tr>
								</table>
								<div class="page">
									<em id="prevpage_visit_t1" class="prevpage"></em><span id="indexPage_visit_t1" class="indexPage">1</span> / <span id="allPage_visit_t1" class="allPage">1</span><em id="nextpage_visit_t1" class="nextpage"></em>
									<input id="pageInput_visit_t1" class="pageInput" type="text" /> 
									<button id="pageRun_visit_t1" class="pageRun">跳转</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="footer">
		    <div class="qq">
		        开心小游戏开放平台开发者QQ群：511374110
		    </div>
		    <div class="company">
		        北京开心人信息技术有限公司
		    </div>
		    <div class="copyright">
		        文网文[2009]157号(甲)&nbsp;&nbsp;&nbsp;&nbsp;京ICP证080482号&nbsp;&nbsp;&nbsp;&nbsp;京公网安备1100003号&nbsp;&nbsp;&nbsp;&nbsp;(京)-非经营性-2009-0009
		    </div>
		</div>
		<div class="warn-outBox analysisMx">
			<div class="winbg"></div>
			<div class="warn-inner" style="width:940px;height:630px;overflow: hidden;">
				<div class="layui-card">
			         <div class="layui-card-header">游戏详情 <em></em></div>
					<div class="grandTotal" style="width:100%;height:500px;margin:0;overflow: hidden;">
						<table class="table table2" style="margin: 0;">
							<tr class="TH"> <th>游戏名称</th> <th>新增玩家</th> <th>活跃玩家</th> <th>流水</th> <th>付费玩家</th><th>累计流水</th><th>累计付费玩家</th><th>累计玩家</th></tr>
						</table>
						<div class="innerBox" style="width:937px;height:500px;overflow-y: scroll;">
							<table id="detail_tb" class="table table2">
								<tr class="Td"> <td>游戏</td> <td>16</td> <td>16</td> <td>0</td> <td>0</td> <td>14</td> <td>0</td> <td>0</td></tr>
								
							</table>
						</div>
					</div>
					<!-- <div class="page">
						<em class="prevpage hide"></em>1 / 3<em class="nextpage"></em>
						<input class="pageInput" type="text" /> 
						<button class="pageRun">跳转</button>
					</div> -->
			        
			   </div>
			</div>
		</div>
		<script>
			var length = 10;
			var visitTable1Data = [];
			function loadTable(page) {
				if(visitTable1Data[page*20-20]){
					var html = "<tr class='TH'> <th>日期</th> <th>新增玩家</th> <th>活跃玩家</th> <th>流水</th> <th>付费玩家</th><th>累计流水</th><th>累计付费玩家</th><th>累计玩家</th><th>操作</th></tr>";
					var from = page*20-20;
					var to = page*20;

					to = Math.min(to, visitTable1Data.length);
					var d = visitTable1Data;
	                	for (var i = from; i < to; i++) {
	                		html += "<tr> <td>"+d[i][0]+"</td> <td>"+d[i][1]+"</td> <td>"+d[i][2]+"</td> <td>"+d[i][3]+"</td> <td>"+d[i][4]+"</td> <td>"+d[i][5]+"</td><td>"+d[i][6]+"</td> <td>"+d[i][7]+"</td></tr>";
	                	}
	                $("#visit_t1").html(html);
				}
				
			}

			$(function(){
				var start= laydate.render({  
			        elem: '#laydate-start',
			        done:function(value,date){
			        	if(value!=''){
			        		date.month=date.month-1;
			        		end.config.min=date;
			        	}
			    	}
			    });  
			    var end = laydate.render({  
			        elem: '#laydate-end',   
			        done:function(value,date){
			        	if(value!=''){
			        		date.month=date.month-1;
			        		start.config.max=date;
			        	}
			        }
			    });
			    var dateTime=new Date();
			   	dateTime=dateTime.setDate(dateTime.getDate()-7);
			   	dateTime=new Date(dateTime);
			   	laydate.render({  
			          elem: '#laydate-start',
			          value:dateTime
			      });
			      laydate.render({  
			          elem: '#laydate-end',
			          value:new Date()
			      });  
				/*菜单*/
				$(".first-level").click(function(){
					$(this).children(".level-click").toggleClass("up");
					$(this).siblings(".second-level").stop(true,false).slideToggle();
				});
				/*菜单选择*/
				$(".second-level li").click(function(){
					$(".second-level li").removeClass("active")
					$(this).addClass("active");
				});
				$(document).on("click",".watchMx",function(){
					var thisDate=$(this).attr("attr-date");
					if(thisDate != ""){
						$.ajax({
	                    url: "/gameAnalysis/getDetail/",
	                    type: "POST",
	                    data:{
	                    	date:thisDate
	                    },
	                    dataType:"json",
	                    success: function(res) {

	                        if (res.code == 200) {
	                        	var list = res.data;
	                        	var html = "";
	                        	for(var i = 0; i < list.length; i++){
	                        		html += "<tr class='Td'> <td>"+list[i][0]+"</td> <td>"+list[i][1]+"</td> <td>"+list[i][2]+"</td> <td>"+list[i][3]+"</td> <td>"+list[i][4]+"</td> <td>"+list[i][5]+"</td> <td>"+list[i][6]+"</td> <td>"+list[i][7]+"</td></tr>";
	                        	}
	                        	$('#detail_tb').html(html);
								$(".analysisMx").show();
	                        }
	                    }
	                });
						
					}
					
				});
				$(".winbg").bind("click",function(e){
			        if($(e.target).closest(".warn-inner").length == 0){
			          $(".analysisMx").hide();
			        }
		        })
				// 基于准备好的dom，初始化echarts实例
		       	var linesObj={
		       		dataTime:['2019.01.22','2019.01.24','2019.01.26','2019.01.28','2019.01.30','2019.02.01','2019.02.03','2019.02.05'],
		       		dataName:['美人心计','刀塔外传','暗影之怒','摩尔战纪'],
		       		dataArr:[
				        { name:'美人心计', type:'line', smooth: true, stack: '总量', data:[120, 132, 101, 134, 90, 230, 210,666] },
				        { name:'刀塔外传', type:'line', smooth: true, stack: '总量', data:[220, 182, 191, 234, 290, 330, 310,666] },
				        { name:'暗影之怒', type:'line', smooth: true, stack: '总量', data:[150, 232, 201, 154, 190, 330, 410,666] },
				        { name:'摩尔战纪', type:'line', smooth: true, stack: '总量', data:[320, 332, 301, 334, 390, 330, 320,666] },
			    	]
		       	};

		       	var pieObj=[{value:300, name:'摩尔战纪'},{value:500, name:'美人心计'},{value:700, name:'暗影之怒'},{value:700, name:'刀塔外传'}];
            	// drawLines('gameLine',linesObj);//绘制折线一	        	        
            	// drawPie('gamePie',pieObj);//绘制饼

            	var visitT1TotalPage = 0;
            	$("#nextpage_visit_t1").click(function(){
					var page = parseInt($("#indexPage_visit_t1").html())+1;
					if (page > visitT1TotalPage) {
						return;
					}
					$("#indexPage_visit_t1").html(page);
					loadTable(page);

				});

				$("#prevpage_visit_t1").click(function(){
					var page = $("#indexPage_visit_t1").html()-1;
					if (page < 1) {
						return;
					}
					$("#indexPage_visit_t1").html(page);
					loadTable(page);
				});

				$("#pageRun_visit_t1").click(function(){
					var page = $("#pageInput_visit_t1").val();
					if (page > visitT1TotalPage) {
						page = visitT1TotalPage;
					} else if (page < 1) {
						page = 1;
					}
					$("#indexPage_visit_t1").html(page);
					loadTable(page);
				});


            	function refreshAllData(){
            		$.ajax({
	                    url: "/gameAnalysis/getGamesData/",
	                    type: "POST",
	                    data:{
	                    	watchType:$('#dateType_select').val(),
	                    	type:$('#type_select').val(),
	                    	from:$('#laydate-start').val(),
	                    	to:$('#laydate-end').val()
	                    },
	                    dataType:"json",
	                    success: function(res) {

	                        if (res.code == 200) {
	                        	drawLines('gameLine',res.data.lines);
	                        	drawPie('gamePie',res.data.pie);


	                        	var html = "<tr class='TH'> <th>日期</th> <th>新增玩家</th> <th>活跃玩家</th> <th>流水</th> <th>付费玩家</th><th>累计流水</th><th>累计付费玩家</th><th>累计玩家</th><th>操作</th></tr>";
	                        	var list = res.data.table;
	                        	visitTable1Data = res.data.table;
	                        	visitT1TotalPage = Math.ceil(list.length/20);
	                        	if(list.length){
	                        		$('#allPage_visit_t1').html(Math.ceil(list.length/20));	
	                        	}else{
		                        	$('#allPage_visit_t1').html(0);
	                        	}
			                    if (list.length) {
			                    	for (var i = 0; i < (list.length<20?list.length:20); i++) {
			                    		html += "<tr class='Td'> <td>"+list[i][0]+"</td> <td>"+list[i][1]+"</td> <td>"+list[i][2]+"</td> <td>"+list[i][3]+"</td> <td>"+list[i][4]+"</td> <td>"+list[i][5]+"</td> <td>"+list[i][6]+"</td> <td>"+list[i][7]+"</td> <td><a class='watchMx' attr-date='"+list[i][0]+"'>查看</a></td></tr>";
			                    	}
			                    }
			                    $("#visit_t1").html(html);
	                        }
	                    }
	                });
            	}
            	function refreshLineAndPieData(){
            		$.ajax({
	                    url: "/gameAnalysis/getLineAndPieData/",
	                    type: "POST",
	                    data:{
	                    	watchType:$('#dateType_select').val(),
	                    	type:$('#type_select').val(),
	                    	from:$('#laydate-start').val(),
	                    	to:$('#laydate-end').val()
	                    },
	                    dataType:"json",
	                    success: function(res) {

	                        if (res.code == 200) {
	                        	drawLines('gameLine',res.data.lines);
	                        	drawPie('gamePie',res.data.pie);
	                        }
	                    }
	                });
            	}
            	refreshAllData();
            	$('#type_select').change(function(){
            		refreshLineAndPieData();
            	});
            	$('#dateType_select').change(function(){
            		refreshLineAndPieData();
            	});
            	$('.searchBtn').click(function(){
            		refreshAllData();
            	});
			})			
		</script>
	</body>
</html>
