		<link rel="stylesheet" href="{CONST|H_STATIC_URL}assets/open/css/gameEntrance.css" />
		<div class="section">
			<div class="section-title">游戏管理</div>
			<ul class="entranceUl">
				<li><a href="/publish/index/os=1">
					<div class="top"><img src="{CONST|H_STATIC_URL}assets/open/img/android_Entrance.png"></div>
					<div class="bottom">
						<p>安卓游戏</p>
						<span>安卓单款游戏发行</span>
					</div>
				</a></li>
				<li><a href="/publish/index/os=2">
					<div class="top"><img src="{CONST|H_STATIC_URL}assets/open/img/ios_Entrance.png"></div>
					<div class="bottom">
						<p>IOS游戏</p>
						<span>IOS单款游戏发行</span>
					</div>
				</a></li>
				<li><a href="/game/show/">
					<div class="top"><img src="{CONST|H_STATIC_URL}assets/open/img/h5_Entrance.png"></div>
					<div class="bottom">
						<p>H5小游戏</p>
						<span>开心小游戏平台</span>
					</div>
				</a></li>
				<div class="clearfix"></div>
			</ul>
		</div>
		<div class="footer">
		    <div class="qq">
		        开心小游戏开放平台开发者QQ群：511374110
		    </div>
		    <div class="company">
		        北京开心人信息技术有限公司
		    </div>
		    <div class="copyright">
		        文网文[2009]157号(甲)&nbsp;&nbsp;&nbsp;&nbsp;京ICP证080482号&nbsp;&nbsp;&nbsp;&nbsp;京公网安备1100003号&nbsp;&nbsp;&nbsp;&nbsp;(京)-非经营性-2009-0009
		    </div>
		</div>
		
	</body>
</html>
