		<div class="regMain">
			<div class="fr">
				<div class="loginType">
					<a class="codeLogin" href="/index/codeLogin/">验证码登录</a>
					<a class="passLogin" href="/index/passLogin/">密码登录</a>
				</div>
				<ul class="formUl">
					<li>
						<input type="text" placeholder="手机号" id="phone" />
						<span></span>
					</li>
					<li>
						<input type="password" placeholder="密码" id="ps"/>
						<span></span>
					</li>
				</ul>
				
				<button class="login_button">登录</button>
				<div class="reg-forget">
					<a class="register" href="/register/index/">注册</a>
					<a class="forget" href="/forgetPs/index/">忘记密码</a>
				</div>
			</div>
		</div>
		<div class="footer">
		    <div class="qq">
		        开心小游戏开放平台开发者QQ群：511374110
		    </div>
		    <div class="company">
		        北京开心人信息技术有限公司
		    </div>
		    <div class="copyright">
		        文网文[2009]157号(甲)&nbsp;&nbsp;&nbsp;&nbsp;京ICP证080482号&nbsp;&nbsp;&nbsp;&nbsp;京公网安备1100003号&nbsp;&nbsp;&nbsp;&nbsp;(京)-非经营性-2009-0009
		    </div>
		</div>
	</body>
</html>
