		<div class="regMain">
			<div class="fr">
				<ul class="formUl">
					<li>
						<input type="text" placeholder="手机号" id="phone" />
						<span></span>
					</li>
					<li>
						<input type="text" class="input-code" placeholder="验证码"  />
						<span></span>
						<div class="code">
							<canvas id="canvas" width="100" height="43"></canvas>
						</div>
					</li>
					<li>
						<input type="text" placeholder="手机验证码" id="smsCode"/>
						<span></span>
						<button class="phoneCode yzmBtn">获取验证码</button>
					</li>
					<li>
						<input type="password" autocomplete="new-password" placeholder="密码" id="ps" />
						<span></span>
					</li>
					<li>
						<input type="password" autocomplete="new-password" placeholder="确认密码" id="psAgain" />
						<span></span>
					</li>
				</ul>
				<button class="red_button">注册</button>
			</div>
		</div>
		<div class="footer">
		    <div class="qq">
		        开心小游戏开放平台开发者QQ群：511374110
		    </div>
		    <div class="company">
		        北京开心人信息技术有限公司
		    </div>
		    <div class="copyright">
		        文网文[2009]157号(甲)&nbsp;&nbsp;&nbsp;&nbsp;京ICP证080482号&nbsp;&nbsp;&nbsp;&nbsp;京公网安备1100003号&nbsp;&nbsp;&nbsp;&nbsp;(京)-非经营性-2009-0009
		    </div>
		</div>
	</body>
</html>
