<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{$this->_title}</title>
        <!-- Set render engine for 360 browser -->
        <meta name="renderer" content="webkit" />
        <!-- No Baidu Siteapp-->
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="{CONST|H_STATIC_URL}/favicon.png" />
        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes" />
        <link rel="icon" sizes="192x192" href="{CONST|H_STATIC_URL}/app_icon.png" />
        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="apple-mobile-web-app-title" content="Amaze UI" />
        <meta name="msapplication-TileColor" content="#0e90d2" />

        {$css}
        {$js}

    </head>

    <!--aaa-->

    <body>
    <header data-am-widget="header" class="am-header am-header-default" id="header-top">
        <div class="am-header-left am-header-nav">
            <a href="#" onclick="backStep()">
                <img src="{CONST|H_STATIC_URL}/agent/assets/images/header/icon-back.png" alt="" srcset=""/></a>
        </div>

        <h1 class="am-header-title" onclick="go_index();">{$this->_subTitle}</h1>

        <div class="am-header-right am-header-nav">
            <a href="#" onclick="close_header_top()">
                <img src="{CONST|H_STATIC_URL}/agent/assets/images/header/icon-close.png" alt="" srcset="" />
            </a>
        </div>
    </header>


    <div class="am-modal am-modal-alert" tabindex="-1" id="my-fail">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                <img src="{CONST|H_STATIC_URL}/agent/assets/images/fail.png" alt="" />
                <h4>无法完成操作</h4>
            </div>
            <div class="am-modal-bd" id="fail_content">#content#</div>
        </div>
    </div>

    <!-- 成功提示框 -->
    <div class="am-modal am-modal-alert" tabindex="-1" id="my-success">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                <img src="{CONST|H_STATIC_URL}/agent/assets/images/success.png" alt="" />
                <h4>操作成功</h4>
            </div>
            <div class="am-modal-bd" id="ok_content">#content#</div>
        </div>
    </div>
    <!-- //End 成功提示框 -->


    <script>

        function toastFail(content){
            $("#fail_content").html(content);
            $('#my-fail').modal();
        }

        function toastOk(content){
            $("#ok_content").html(content);
            $('#my-success').modal();
        }

        function backStep(){
            //返回上一步，不刷新
            // window.history.go(-1);
            //history.back();
            //返回上一步，并刷新
            self.location=document.referrer;
        }

        function forwardStep(){
            // alert(33);
             // window.history.forward();
            window.history.forward();
            // window.history.go(1);
        }

        function close_header_top(){
            $("#header-top").css("display",'none');
        }

        function go_index(){
            location.href="/";
        }

        function checkPhone(){
            var phone = document.getElementById('phone').value;
            if(!(/^1[23456789]\d{9}$/.test(phone))){
                return false;
            }
            return true;
        }

    </script>
