<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->

    {include layout/left.html}


    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>添加订单
                            </div>
                            <div class="actions">
                                <a href="{$this->_backListUrl}" class="btn btn-default btn-sm">
                                    <i class="fa fa-arrow-left"></i> 返回列表 </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <form action="?opt=1" method="post" id="form_sample_3" class="form-horizontal" enctype="multipart/form-data">
                                <div class="form-body">
                                    <div class="alert alert-danger display-hide">
                                        <button class="close" data-close="alert"></button>
                                        You have some form errors. Please check below.
                                    </div>
                                    <div class="alert alert-success display-hide">
                                        <button class="close" data-close="alert"></button>
                                        表单验证成功
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">渠道<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control form-filter input-sm" name="third_id"  value="{$info['channel_desc']}" disabled>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3">3方通道模板ID<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control form-filter input-sm" name="third_id"  value="{$info['third_template_id']}" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">3方通道模板-审核状态<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control form-filter input-sm" name="third_id"  value="{$TemplateStatus}" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">3方通道模板-审核备注<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control form-filter input-sm" name="third_id"  value="{$reason}" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">类型<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <select class="table-group-action-input form-control input-inline input-small input-sm" name="type">
                                                <option value="">请选择</option>
                                                {$getTemplateTypeOptionHtml }
                                            </select>
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3">标题<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control form-filter input-sm" name="title" value="{$info['title']}">
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3">内容<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control form-filter input-sm" name="content"  value="{$info['content']}">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3">周期时间内，发送次数<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control form-filter input-sm" name="period_times"  value="{$info['period_times']}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">一天最多发送次数<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control form-filter input-sm" name="day_times"  value="{$info['day_times']}">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3">周期时间，秒<span class="require">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control form-filter input-sm" name="period"  value="{$info['period']}">
                                        </div>
                                    </div>

                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn green sub_click">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                        <!-- END VALIDATION STATES-->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
