<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="开心小游戏" />
		<meta name="keywords" content="开心小游戏" />
		<title>开心小游戏</title>
		{$css}
		{$js}
		<script>
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "https://hm.baidu.com/hm.js?586c32a626640f1cdfcd00761f52f7a7";
			  var s = document.getElementsByTagName("script")[0]; 
			  s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>
	<body>
		<div class="outBox">
			<div class="welHead">
				<div class="welHeader">
					<div class="fl">开心小游戏</div>
					<div class="linkUl">
					</div>
				</div>
			</div>
			<div class="fx_banner">
				<div class="fx_bann1"></div>
				<div class="fx_bann2"></div>
				<div class="fx_bann3"></div>
				<div class="fx_bann4">
					<p>专注于超休闲</br>游戏的发行</p>
					<span>助力小型团队营收规模化</span>
					<a onclick="alert('即将开放')" class="gameCreate">创建游戏</a>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="partTitle">
				<p>平 台 能 力</p>
				<span>Platform ability</span>
			</div>
			<div class="partOne">
				<ul>
					<li>
						<div class="img">
							<img class="fl" src="{CONST|H_STATIC_URL}assets/mg/img/fx_platform1.png">
							<img class="fr" src="{CONST|H_STATIC_URL}assets/mg/img/fx_platformbg.png">
						</div>
						<span>1 on 1 游戏优化指导</span>
						<p>基于游戏行业千万数据，我们为您提供1on1指导 迅速定位市场需求，提供游戏创意，交互设计和 技术支持，帮助团队快速市场化</p>
					</li>
					<li>
						<div class="img">
							<img class="fl" src="{CONST|H_STATIC_URL}assets/mg/img/fx_platform2.png">
							<img class="fr" src="{CONST|H_STATIC_URL}assets/mg/img/fx_platformbg.png">
						</div>
						<span>专业化营销团队</span>
						<p>对接上千家渠道，我们可以迅速帮助开发者获 取用户，快速增长，提升留存，您只需专注于 游戏开发，剩下的交给我们。</p>
					</li>
					<li>
						<div class="img">
							<img class="fl" src="{CONST|H_STATIC_URL}assets/mg/img/fx_platform3.png">
							<img class="fr" src="{CONST|H_STATIC_URL}assets/mg/img/fx_platformbg.png">
						</div>
						<span>行业一流的变现能力</span>
						<p>借助于远超行业水平的变现SDK和精细化变现 策略运营，我们的平均eCPM超过行业50%以上 帮助开发者收入提升200%</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="section">
			<div class="partTitle">
				<p>合 作 案 例</p>
				<span>Cooperation case</span>
			</div>
			<div class="partTwo">
				<ul>
					<li>
						<div class="top">
							<!--<img class="bottom" src="{CONST|H_STATIC_URL}assets/mg/img/fx_introduce1.png" />-->
							<div class="bottom">《摇摆火柴人》是一款手感一流，重现经典又玩法丰富多变的休闲游戏。在游戏中你是一个灵活跳跃的小小火柴人，玩法操作简单易懂，只需要单指点击屏幕即可完成所有游戏操作。超一流的游戏手感给你紧张刺激的游戏体验，同一关卡也有多种不同解法，轻松玩游戏的同时给你的大脑增添无限乐趣。</div>
						</div>
						
						<img class="bg" src="{CONST|H_STATIC_URL}assets/mg/img/fx_cpbg1.png"  />
					</li>
					<li>
						<div class="top">
							<!--<img class="bottom" src="{CONST|H_STATIC_URL}assets/mg/img/fx_introduce2.png" />-->
							<div class="bottom">《触点元素》是一款轻松解压、玩法新鲜有趣的消除类休闲游戏。在游戏中你是一名大法师，元素会进攻魔法水晶，快拿起你的水晶球来拯救大陆吧。轻松滑动手指操作你手中的水晶球，精心引导会带你快速了解游戏玩法和规则，画面清新可爱老少皆宜。</div>
						</div>						
						<img class="bg" src="{CONST|H_STATIC_URL}assets/mg/img/fx_cpbg2.png"  />
					</li>
					<li>
						<div class="top">
							<!--<img class="bottom" src="{CONST|H_STATIC_URL}assets/mg/img/fx_introduce3.png" />-->
							<div class="bottom">《我专车开得贼6》是一款切入点新颖别致的交通类休闲游戏。在游戏中你是一名开车贼6的专车司机，我们的目标只有一个就是快速又安全地将乘客送到他们的目的地哦。单指点击屏幕就能完成全部操作,动动手指就能成为开车最6的专车司机，快来感受休闲游戏带给你的极致体验吧。</div>
						</div>					
						<img class="bg" src="{CONST|H_STATIC_URL}assets/mg/img/fx_cpbg3.png"  />
					</li>
					<div class="clearfix"></div>
				</ul>
			</div>
		</div>
		<div class="section">
			<div class="partTitle">
				<p>合 作 伙 伴</p>
				<span>partners</span>
			</div>
			<div class="partThree">
				<ul>
					
					<li>
						<img src="{CONST|H_STATIC_URL}assets/mg/img/tencent.jpg" />
					</li>
					<li>
						<img src="{CONST|H_STATIC_URL}assets/mg/img/toutiao.jpg" />
					</li>
					<li>
						<img src="{CONST|H_STATIC_URL}assets/mg/img/baidu.jpg" />
					</li>
					<li>
						<img src="{CONST|H_STATIC_URL}assets/mg/img/vivo.jpg" />
					</li>
					<li>
						<img src="{CONST|H_STATIC_URL}assets/mg/img/hi.jpg" />
					</li>
					<li>
						<img src="{CONST|H_STATIC_URL}assets/mg/img/pushangame.jpg" />
					</li>
					<li>
						<img src="{CONST|H_STATIC_URL}assets/mg/img/oppo.jpg" />
					</li>
					<li>
						<img src="{CONST|H_STATIC_URL}assets/mg/img/xianqing.jpg" />
					</li>
					
				</ul>
			</div>
		</div>
		<div class="fx_foot">
			<h1>商务合作</h1>
			<ul>
				<li>安卓合作 :liuxiulun@kaixin-inc.com</li>
				<li>小游戏合作 : liuxiulun@kaixin-inc.com</li>
				<li>IOS合作: liuxiulun@kaixin-inc.com</li>
				<li>侵权投诉 : kxxyx-fawu@kaixin-inc.com</li>
			</ul>
		</div>
	</body>
</html>
