<div class="row">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-reorder"></i>添加后台帐户
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="?ctrl=schedule&ac=add" id="addaccount_form" class="form-horizontal" method="post">
                    <input type="hidden" name="doings" value="1"/>
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            错误，请按规定填写！
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            成功!
                        </div>

                        <div class="form-group" id="add_group_div">
                            <label class="control-label col-md-3">提醒时间
							<span class="required">
								 *
							</span>
                            </label>

                            <div class="col-md-4">


                                <div class="input-group date form_datetime margin-bottom-5">
                                    <input type="text" class="form-control form-filter input-sm" style="height: 34px" readonly name="trigger_time" id="trigger_time" placeholder="trigger_time">
                                                <span class="input-group-btn">
                                                    <!--<button class="btn default date-reset" type="button" style="margin-right: 0"><i class="fa fa-times"></i></button>-->
                                                    <button class="btn default date-set" type="button" style="margin-right: 0"><i class="fa fa-calendar"></i></button>
                                                </span>
                                </div>


                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-3">openid
							<span class="required">
								 *
							</span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="openid" data-required="1" class="form-control"
                                       AUTOCOMPLETE="OFF"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">标题
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="title" data-required="1" class="form-control"
                                       AUTOCOMPLETE="OFF"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">内容
							<span class="required">
								 *
							</span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="content"  data-required="1" class="form-control"
                                       AUTOCOMPLETE="OFF"/>
                            </div>
                        </div>




                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">提交</button>
                            <button type="button" class="btn default" id="cancel">取消关闭</button>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
            <!-- END VALIDATION STATES-->
        </div>
    </div>
</div>

<script>
    var UT_Account_Add_FormValidation = function () {
        var handleValidation = function () {
            // for more info visit the official plugin documentation:
            // http://docs.jquery.com/Plugins/Validation

            var theform = $('#addaccount_form');
            var error = $('.alert-danger', theform);
            var success = $('.alert-success', theform);


            theform.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                    trigger_time: {
                        required: true
                    },
                    content: {
                        minlength: 2,
                        required: true
                    },
                    openid: {
                        minlength: 2,
                        required: true
                    }

                },
//                messages:{
//                    trigger_time:{
//                        remote:"用户不存在或者已被其它绑定"
//                    }
//                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.parent(".input-group").size() > 0) {
                        error.insertAfter(element.parent(".input-group"));
                    } else if (element.attr("data-error-container")) {
                        error.appendTo(element.attr("data-error-container"));
                    } else if (element.parents('.radio-list').size() > 0) {
                        error.appendTo(element.parents('.radio-list').attr("data-error-container"));
                    } else if (element.parents('.radio-inline').size() > 0) {
                        error.appendTo(element.parents('.radio-inline').attr("data-error-container"));
                    } else if (element.parents('.checkbox-list').size() > 0) {
                        error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    } else if (element.parents('.checkbox-inline').size() > 0) {
                        error.appendTo(element.parents('.checkbox-inline').attr("data-error-container"));
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
//                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                            .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                            .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                            .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    error.show();
                    error.hide();
                    $(form).ajaxSubmit({
                        type: "post",
                        dataType: "json",
                        success: function (ret) {
                            if (ret.code === 200) {
                                bootbox.hideAll();

                                var UTbox = UTHING.bootbox({
                                    message: ret.data,
                                    type: "alert",
                                    status: "success"
                                });

                                UT_Account_TableAjax.reload();
                                setTimeout(function () {
                                    bootbox.hideAll();
                                }, 2000);
                            } else {
                                var UTbox = UTHING.bootbox({
                                    message: ret.data,
                                    type: "alert",
                                    status: "error"
                                });
                            }
                        }
                    });
                }
            });

        };


        return {
            //main function to initiate the module
            init: function () {
                handleValidation();
            }

        };

    }();

    UT_Account_Add_FormValidation.init();

</script>

<script>

    if (!jQuery().datetimepicker) {
        alert(333);
    }

    $(".form_datetime").datetimepicker({
        isRTL: Metronic.isRTL(),
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        startDate: "2013-02-14 10:00",
        pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left"),
        minuteStep: 10
    });


</script>