<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Simple Table
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                                昵称
                            </th>
                            <th>
                                等待接入数
                            </th>
                            <th>
                                正在服务数
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                         #table_data#

                        </tbody>
                    </table>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn small blue" onclick="sub()">提交</button>
                </div>


            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>

<script>

    sid = #sid#;
    function sub(){
        var adminids = $("input[name=admin_ids]:checked").val();
        if(typeof(adminids) == "undefined" || !adminids || adminids == "undefined" )
            return alert('请选择客服人员');

        $.ajax({
            type: "GET",
            url: "/admin?ctrl=session&ac=schedule&opt=1&id="+adminids+"&sid=#sid#",
            success: function(data){
                var dd = eval( '(' + data + ")" );
                if(dd.code == 200){
                    location.reload(true);
                }else{
                    alert("错误："+dd.data);
                }
            }
        });

    }

</script>