		<div class="gameManage">
			<ul class="nav-list">
				<li class="levelLi">
					<div class="first-level"><img class="level-icon" src="{CONST|H_STATIC_URL}assets/open/img/game_manage.png" />管理列表<img class="level-click up" src="{CONST|H_STATIC_URL}assets/open/img/select-red.png" /></div>
					<ul class="second-level">
						<li {if $this->ctrl == 'game' && $this->ac == 'show'}class="active"{/if}><a href="/game/show/">游戏列表</a></li>
						{if (!$foreign)}
						<li {if $this->ctrl == 'gameAnalysis'}class="active"{/if}><a href="/gameAnalysis/index/">数据分析</a></li>
						<li {if $this->ctrl == 'adAnalysis'}class="active"{/if}><a href="/adAnalysis/index/">广告分析</a></li>
						{/if}
					</ul>
				</li>
				{if ($env=='release'&&$this->_uid==396597)||($env=='local'&&$this->_uid==1)||($env=='dev'&&$this->_uid==200135)}
				<li class="levelLi">
					<div class="first-level"><img class="level-icon" src="{CONST|H_STATIC_URL}assets/open/img/financial.png" />财务管理<img class="level-click up" src="{CONST|H_STATIC_URL}assets/open/img/select-red.png" /></div>
					<ul class="second-level">
						<li {if $this->ctrl == 'settlement'}class="active"{/if}><a href="/settlement/index/">结算提现</a></li>
					</ul>
				</li>
				{/if}
				<li class="levelLi">
					<div class="first-level"><img class="level-icon" src="{CONST|H_STATIC_URL}assets/open/img/account.png" />账号设置<img class="level-click up" src="{CONST|H_STATIC_URL}assets/open/img/select-red.png" /></div>
					<ul class="second-level">
						<li {if $this->ctrl == 'developer'}class="active"{/if}><a href="/developer/base/">开发者资料</a></li>
					</ul>
				</li>
			</ul>