<script>
    var FormValidation = function () {


        // advance validation
        var handleValidation3 = function() {
            // for more info visit the official plugin documentation:
            // http://docs.jquery.com/Plugins/Validation

            var form3 = $('#form_sample_3');
            var error3 = $('.alert-danger', form3);
            var success3 = $('.alert-success', form3);

            //IMPORTANT: update CKEDITOR textarea with actual content before submit
            form3.on('submit', function() {
//                for(var instanceName in CKEDITOR.instances) {
//                    CKEDITOR.instances[instanceName].updateElement();
//                }
            });

            form3.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "", // validate all fields including form hidden input
                rules: {
                    title: {
                        minlength: 2,
                        maxlength: 50,
                        required: true
                    },
                    category_id: {
                        required: true
                    },
                    status: {
                        required: true,
                    },
                    pic: {
                        required: true
                    },
                    list_img: {
                        required: true
                    }
                    // ,
                    // index_reco_img: {
                    //     required: true
                    // },
                    // screen: {
                    //     required: true
                    // },
                    // sort: {
                    //     integer:true,
                    //     maxlength: 4,
                    //     required: true
                    // },
                    // background_color: {
                    //     minlength: 7,
                    //     maxlength: 7,
                    //     required: true
                    // },
                    // play_url: {
                    //     required: true
                    // },
                },

                messages: { // custom messages for radio buttons and checkboxes
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.parent(".input-group").size() > 0) {
                        error.insertAfter(element.parent(".input-group"));
                    } else if (element.attr("data-error-container")) {
                        error.appendTo(element.attr("data-error-container"));
                    } else if (element.parents('.radio-list').size() > 0) {
                        error.appendTo(element.parents('.radio-list').attr("data-error-container"));
                    } else if (element.parents('.radio-inline').size() > 0) {
                        error.appendTo(element.parents('.radio-inline').attr("data-error-container"));
                    } else if (element.parents('.checkbox-list').size() > 0) {
                        error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    } else if (element.parents('.checkbox-inline').size() > 0) {
                        error.appendTo(element.parents('.checkbox-inline').attr("data-error-container"));
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success3.hide();
                    error3.show();
                    Metronic.scrollTo(error3, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    var btn = $(this);
                    btn.button('loading');

                    success3.show();
                    error3.hide();
                    form[0].submit(); // submit the form
                }

            });

        }

        return {
            //main function to initiate the module
            init: function () {

                handleValidation3();

            }

        };

    }();



    function onCategoryChange(obj){
        var categoryId = $(obj).val();
        if(!categoryId && categoryId !== 0){
            $("#categoryAttrPara").css("display",'none');
            $("#replace_div").html("|checkbox|");

            // return alert("categoryId is null");
            return -1;
        }
        $.ajax({
            // contentType: "application/json;charset=UTF-8",
            //请求方式
            type : "POST",
            url : "/product/no/product/getProductCategoryRelation/categoryId="+categoryId,
//            //数据，json字符串
            // data : JSON.stringify(list),
            //请求成功
            success : function(result) {
                if(!result){
                    return alert("ajax getProductCategoryRelation is null");
                }

                $("#replace_div").html("|checkbox|");

                var resultObjData=eval("("+result+")");
                var resultObj = resultObjData['list'];
                var paraMax = resultObjData['paraMax'];
                var checkBoxHtml = '<table class="table table-hover table-bordered table-striped">';
                for(var i= 0 ;i <resultObj.length;i++){
                    var paraMaxTdNum = 1;
                    checkBoxHtml += "<tr  ><td>" + resultObj[i]['name'] +"</td>" ;
                    if(resultObj[i]['is_no'] == 1){
                        checkBoxHtml += "<td><input name='categoryAttrNull' value='"+resultObj[i]['id']+"' type='checkbox' onclick='categoryAttrNullTrigger(this)' ></td>";
                        paraMaxTdNum++;
                    }else{
                        if(resultObj[i]['para']){
                            for(var j= 0 ;j <resultObj[i]['para'].length;j++){
                                // checkBoxHtml += "<td><input type='checkbox' name='categoryAttrPara[]' value="+ categoryId+"_"+resultObj[i]['id'] + "_" + resultObj[i]['para'][j]['id'] + " />&nbsp;"+resultObj[i]['para'][j]['name'] +"</td>";
                                checkBoxHtml += "<td><input type='checkbox' name='categoryAttrPara[]' value="+ resultObj[i]['id'] + "_" + resultObj[i]['para'][j]['id'] + " />&nbsp;"+resultObj[i]['para'][j]['name'] +"</td>";
                                paraMaxTdNum++;
                            }
                        }
                    }

                    for(var x=paraMaxTdNum;x<=paraMax;x++){
                        checkBoxHtml += "<td></td>";
                    }

                    checkBoxHtml += "</tr>";
                }
                checkBoxHtml += "</table>";
                $("#categoryAttrPara").css("display",'block');
                $("#replace_div").html(checkBoxHtml);
            },
            //请求失败，包含具体的错误信息
            error : function(e){
                alert("ajax failed!");
            }
        });
        //
    }

    jQuery(document).ready(function() {
        FormValidation.init();

    });

    function categoryAttrNullTrigger(obj){
        var isChecked = $(obj).prop("checked");
        if(isChecked){
            $('input[name="categoryAttrPara[]"]').each(function(){
                $(this).attr("checked",false);
                $(this).attr("disabled",true);
            });
        }else{
            $('input[name="categoryAttrPara[]"]').each(function(){
                $(this).attr("disabled",false);
            });
        }
    }

    // var categoryAttr = '<div class="form-group">'+
    //     // '<label class="control-label col-md-3">描述图片 <span class="required">'+
    //     //     '* </span></label>'+
    //     '<div class="col-md-4">'+
    //     '#checkbox#'+
    //     '</div>'+
    //     '</div>';




</script>