<div class="pageMyTx">
    <div class="baseFormC">
        <div class="group">
            <label>提现订单</label>
            <div class="ipt">1200110231</div>
        </div>
        <div class="group">
            <label>金额</label>
            <div class="ipt">¥320.08</div>
        </div>
    </div>
    <!-- //End -->
    <div class="baseFormB">
        <form action="">
            <div class="group">
                <label>出生日期</label>
                <input
                    class="ipt"
                    type="text"
                    minlength="3"
                    placeholder="请选择"
                    required
                />
                <img class="imgGo" src="{CONST|H_STATIC_URL}/agent/assets/images/my/icon-go.png" alt="" />
            </div>
            <div class="group">
                <label>开户银行</label>
                <input
                    class="ipt"
                    type="text"
                    minlength="3"
                    placeholder="请输入"
                    required
                />
            </div>
            <div class="group">
                <label>户主</label>
                <input
                    class="ipt"
                    type="text"
                    minlength="3"
                    placeholder="请输入"
                    required
                />
            </div>
            <div class="group">
                <label>银行卡号</label>
                <input
                    class="ipt"
                    type="text"
                    minlength="3"
                    placeholder="请输入"
                    required
                />
            </div>
            <div class="group">
                <label>支付宝号</label>
                <input
                    class="ipt"
                    type="text"
                    minlength="3"
                    placeholder="请输入"
                    required
                />
            </div>
            <input type="submit" class="iptBtn" value="提交" />
        </form>
    </div>
</div>
<!-- //End -->
</body>
</html>
