<div class="pageMyEdit pageAgent">
    <div class="sex">
        <span  id="roleOne"  >一级代理</span>
        <span  id="roleTwo"  >二级代理</span>

        <!--<span  id="roleOne"  onclick="selRole(1);">一级代理</span>-->
        <!--<span  id="roleTwo"  onclick="selRole(2);">二级代理</span>-->
    </div>
    <!-- //End  sex-->

    <form action="" id="myForm" method="post" enctype="multipart/form-data">
        <input  type="hidden" id="type" name="type" value="{$type}" />
        <input  type="hidden" id="aid" name="aid" value="{$aid}" />
        <div class="baseForm">
            <div class="panel">
                <div class="group">
                    <label>真实姓名</label>
                    <input
                        class="ipt"
                        type="text"
                        minlength="3"
                        placeholder="请输入您的真实姓名"
                        name="real_name"
                    />
                </div>
                <div class="group">
                    <label>性别</label>
                    <select name="sex" class="ipt">
                        <option value="">请选择</option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
<!--                    <input-->
<!--                        class="ipt"-->
<!--                        type="text"-->
<!--                        minlength="3"-->
<!--                        placeholder="请选择"-->
<!--                        name="sex"-->
<!--                    />-->
<!--                    <img class="imgGo" src="{CONST|H_STATIC_URL}/agent/assets/images/my/icon-go.png" alt="" />-->
                </div>
                <!--<div class="group">-->
                    <!--<label>出生日期</label>-->
                    <!--<input-->
                        <!--type="text"-->
                        <!--class="am-form-field ipt"-->
                        <!--placeholder="请选择"-->
                        <!--data-am-datepicker-->
                        <!--readonly-->
                        <!--required-->
                    <!--/>-->
                    <!--<img class="imgGo" src="{CONST|H_STATIC_URL}/agent/assets/images/my/icon-go.png" alt="" />-->
                <!--</div>-->
                <div class="group">
                    <label>店面名称</label>
                    <input
                        class="ipt"
                        type="text"
                        minlength="3"
                        placeholder="请输入"
                        name="title"
                    />
                </div>
                <div class="group">
                    <label>店铺图片</label>
                    <div class="ipt"><img src="" id="agent_pic" width="50" height="50" /></div>
                    <div class="file">
                        <span>替换图片</span>
                        <input class="iptFile" type="file" name="pic"  accept="image/*" onchange="handleInputChange(this)" />
                        <input type="hidden" name="pic_tmp_path" id="pic_tmp_path" />
                    </div>
                </div>
                <div class="group">
                    <label>区域地址</label>
                    <input
                        class="ipt"
                        id="city"
                        type="text"
                        readonly=""
                        placeholder="省/市/区县/镇"
                        value=""
                    />
                    <input id="cityVal" type="hidden" name="area" value="" />
                    <img class="imgGo" src="{CONST|H_STATIC_URL}/agent/assets/images/my/icon-go.png" alt="" />
                </div>
                <div class="group">
                    <label>详细地址</label>
                    <input
                        class="ipt"
                        type="text"
                        minlength="3"
                        placeholder="请选择"
                        name="address"
                    />
                </div>
            </div>

            <div class="panel">
                <div class="group">
                    <label>手机号</label>
                    <input type="text" class="ipt" placeholder="请输入手机号" id="phone" required name="mobile" maxlength="11" />
                </div>
                <div class="group vGroup">
                    <label>验证码</label>
                    <input type="text" class="ipt" placeholder="请输入验证码" required name="sms_code" maxlength="6" />
                    <span class="vCode">发送验证码</span>
                </div>
            </div>

            <div class="panel">
                <div class="group">
                    <label>佣金比例</label>
                    <div class="ipt"></div>
                </div>
                <div class="group" id="fee_percent">
                    <label>一级</label>
                    <input type="text" class="ipt" placeholder="请输入" required name="fee_percent" />
                </div>
                <div class="group" id="sub_fee_percent">
                    <label>二级</label>
                    <input type="text" class="ipt" name="sub_fee_percent" value="{$sub_fee_percent}" readonly />
                </div>
            </div>

            <div class="panel" id="invite_agent_code">
                <div class="group">
                    <label>一级邀请码</label>
                    {$agent['invite_code']}
<!--                    <input type="text" class="ipt" placeholder="请输入" required name="invite_agent_code" value="{$agent['invite_code']}" />-->
                </div>
            </div>

            <input type="" class="iptBtn" value="提交" style="text-align:center" onclick="submitData();"/>
        </div>
    </form>
</div>
<!-- //End -->

<script>
    // $(function () {
    //     var area1 = new LArea()
    //     area1.init({
    //         trigger: '#city', //触发选择控件的文本框，同时选择完毕后name属性输出到该位置
    //         valueTo: '#cityVal', //选择完毕后id属性输出到该位置
    //         keys: {
    //             id: 'id',
    //             name: 'name',
    //         }, //绑定数据源相关字段 id对应valueTo的value属性输出 name对应trigger的value属性输出
    //         type: 1, //数据源类型
    //         data: LAreaData, //数据源
    //     })
    //     area1.value = [1, 13, 3] //控制初始位置，注意：该方法并不会影响到input的value
    //     var area2 = new LArea()
    //     area2.init({
    //         trigger: '#demo2',
    //         valueTo: '#value2',
    //         keys: {
    //             id: 'value',
    //             name: 'text',
    //         },
    //         type: 2,
    //         data: [provs_data, citys_data, dists_data],
    //     })
    // })


    $(function () {
        //获取短信验证码
        var validCode = true;
        $('.vCode').click(function () {
            var time = 60
            var code = $(this)
            if (validCode) {

                var phone = $("#phone").val();
                // alert(phone);
                if(!phone || phone == 'undefined' || typeof(phone) == undefined){
                    return toastFail("手机号为空");
                }
                if(!checkPhone(phone)){
                    return toastFail("手机号格式错误");
                }
                // return alert(phone);
                $.ajax({
                    //请求方式
                    type : "POST",
                    //请求的媒体类型
                    // contentType: "application/json;charset=UTF-8",
                    //请求地址
                    url : "/system/sendSms/",
                    //数据，json字符串
                    // data : JSON.stringify(list),
                    data : "phone="+phone+"&rule=1",
                    //请求成功
                    success : function(result) {
                        var data = eval( "(" + result + ")" );
                        if(data.code == 200){
                            toastOk("短信已发送，注意查收");
                            validCode = false

                            var t = setInterval(function () {
                                code.addClass('msgs1')
                                time--
                                code.html(time + '秒')
                                if (time == 0) {
                                    clearInterval(t)
                                    code.html('重新获取')
                                    validCode = true
                                    code.removeClass('msgs1')
                                }
                            }, 1000)
                        }else{
                            toastFail("发送短信异常:"+data.msg);
                        }

                    },
                    //请求失败，包含具体的错误信息
                    error : function(e){
                        toastFail("ajax error");
                        console.log(e.status);
                        console.log(e.responseText);
                    }
                });
            }
        })
    })



    $(document).ready(function(){


        var area1 = new LArea()
        area1.init({
            trigger: '#city', //触发选择控件的文本框，同时选择完毕后name属性输出到该位置
            valueTo: '#cityVal', //选择完毕后id属性输出到该位置
            keys: {
                id: 'id',
                name: 'name',
            }, //绑定数据源相关字段 id对应valueTo的value属性输出 name对应trigger的value属性输出
            type: 1, //数据源类型
            data: LAreaData, //数据源
        });
        // area1.value = [1, 13, 3] //控制初始位置，注意：该方法并不会影响到input的value
        // var area2 = new LArea()
        // area2.init({
        //     trigger: '#demo2',
        //     valueTo: '#value2',
        //     keys: {
        //         id: 'value',
        //         name: 'text',
        //     },
        //     type: 2,
        //     data: [provs_data, citys_data, dists_data],
        // })
    });

    function selRole(type){
        if(type== 1){
            $("#roleOne").addClass("selected");
            $("#roleTwo").removeClass("selected");
            $("#type").val(1);
            $("#invite_agent_code").css("display",'none');


            $("#fee_percent").css("display",'');
        }else{
            $("#roleTwo").addClass("selected");
            $("#roleOne").removeClass("selected");
            $("#type").val(2);
            $("#invite_agent_code").css("display",'');

            $("#fee_percent").css("display",'none');
        }
    }


    function submitData(){
        $.ajax({
            url:'/agent/apply/opt=1',
            data:$('#myForm').serialize(),                 //将表单数据序列化，格式为name=value
            type:'POST',
            dataType:'json',
            success:function(data){
                var backData = eval( data);
                // alert(backData.code);
                if(backData.code != 200){
                    toastFail(backData.msg);
                }else{
                    toastOk("添加成功");
                    // location.href="/";
                }
            },
            error:function(){
                console.log("提交ajax函数异常");
            },

        });
    }

    //默认选中一级
    selRole({$type});

</script>

<script>

    // 全局对象，不同function使用传递数据
    var imgFile = {};

    function showInfo(msg){
        // return alert(msg);
    }



    function handleInputChange (Obj) {
        // console.log(event)
        // alert(111);
        // 获取当前选中的文件
        showInfo("start upload image.")
        const file = event.target.files[0];
        const imgMasSize = 1024 * 1024 * 6; // 10MB

        // 检查文件类型
        if(['jpeg', 'png', 'gif', 'jpg'].indexOf(file.type.split("/")[1]) < 0){
            // 自定义报错方式
            return toastFail("文件类型仅支持 jpeg/png/gif！", 2000, undefined, false);
            // return showInfo("文件类型错误 -1");
        }

        // 文件大小限制
        if(file.size > imgMasSize ) {
            // 文件大小自定义限制
            return toastFail("文件大小不能超过6MB！", 2000, undefined, false);
            // return showInfo("文件大小错误 -2");
        }

        // 判断是否是ios
        if(!!window.navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/)){
            // iOS
            alert("im ios");
            showInfo("ios 开始 特殊处理")
            transformFileToFormData(file);
            // return showInfo("ios 错误 -3");
        }

        // 图片压缩之旅
        transformFileToDataUrl(file);
    }
    // 将File append进 FormData
    function transformFileToFormData (file) {
        const formData = new FormData();
        // 自定义formData中的内容
        // type
        formData.append('type', file.type);
        // size
        formData.append('size', file.size || "image/jpeg");
        // name
        formData.append('name', file.name);
        // lastModifiedDate
        formData.append('lastModifiedDate', file.lastModifiedDate);
        // append 文件
        formData.append('file', file);
        // 上传图片
        uploadImg(formData);
    }
    // 将file转成dataUrl
    function transformFileToDataUrl (file) {
        const imgCompassMaxSize = 200 * 1024; // 超过 200k 就压缩

        showInfo("开始压缩...");

        // 存储文件相关信息
        imgFile.type = file.type || 'image/jpeg'; // 部分安卓出现获取不到type的情况
        imgFile.size = file.size;
        imgFile.name = file.name;
        imgFile.lastModifiedDate = file.lastModifiedDate;

        console.log("imgFile.type",imgFile.type,"imgFile.size",imgFile.size,"imgFile.name",imgFile.name,"imgFile.lastModifiedDate",imgFile.lastModifiedDate);

        // 封装好的函数
        const reader = new FileReader();

        // file转dataUrl是个异步函数，要将代码写在回调里
        reader.onload = function(e) {
            const result = e.target.result;

            // if(result.length < imgCompassMaxSize) {
                compress(result, processData, false );    // 图片不压缩
            // } else {
            //     compress(result, processData);            // 图片压缩
            // }
        };

        reader.readAsDataURL(file);
    }
    // 使用canvas绘制图片并压缩
    function compress (dataURL, callback, shouldCompress = true) {
        console.log("dataURL",dataURL);
        const img = new window.Image();

        img.src = dataURL;

        img.onload = function () {
            const canvas = document.createElement('canvas');
            const ctx = canvas.getContext('2d');

            canvas.width = img.width;
            canvas.height = img.height;

            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

            let compressedDataUrl;

            if(shouldCompress){
                compressedDataUrl = canvas.toDataURL(imgFile.type, 0.2);
            } else {
                compressedDataUrl = canvas.toDataURL(imgFile.type, 1);
            }

            callback(compressedDataUrl);
        }
    }

    function processData (dataUrl) {
        // 这里使用二进制方式处理dataUrl
        const binaryString = window.atob(dataUrl.split(',')[1]);
        const arrayBuffer = new ArrayBuffer(binaryString.length);
        const intArray = new Uint8Array(arrayBuffer);
         // imgFile = imgFile;

        // console.log("reset imgFile",imgFile);

        for (let i = 0, j = binaryString.length; i < j; i++) {
            intArray[i] = binaryString.charCodeAt(i);
        }

        const data = [intArray];

        let blob;

        console.log(" imgFile.type", imgFile);
        try {
            blob = new Blob(data, { type: imgFile.type });
        } catch (error) {
            console.log("Blob exception:",error);
            window.BlobBuilder = window.BlobBuilder ||
                window.WebKitBlobBuilder ||
                window.MozBlobBuilder ||
                window.MSBlobBuilder;
            if (error.name === 'TypeError' && window.BlobBuilder){
                const builder = new BlobBuilder();
                builder.append(arrayBuffer);
                blob = builder.getBlob(imgFile.type);
            } else {
                // Toast.error("版本过低，不支持上传图片", 2000, undefined, false);
                throw new Error('版本过低，不支持上传图片');
            }
        }

        // blob 转file
        const fileOfBlob = new File([blob], imgFile.name);
        const formData = new FormData();

        // type
        formData.append('type', imgFile.type);
        // size
        formData.append('size', fileOfBlob.size);
        // name
        formData.append('name', imgFile.name);
        // lastModifiedDate
        formData.append('lastModifiedDate', imgFile.lastModifiedDate);
        // append 文件
        formData.append('file', fileOfBlob);

        uploadImg(formData);
    }

    // 上传图片
    function uploadImg (formData) {
        const xhr = new XMLHttpRequest();

        showInfo("正在开始上传图片...uploadImg")

        // 进度监听
        xhr.upload.addEventListener('progress', (e)=>{console.log(e.loaded / e.total)}, false);
        // 加载监听
        // xhr.addEventListener('load', ()=>{console.log("加载中");}, false);
        // 错误监听
        xhr.addEventListener('error', ()=>{showInfo("addEventListener 上传失败")}, false);
        showInfo("开启ajax post data...")
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                const result = JSON.parse(xhr.responseText);
                if (xhr.status === 200) {
                    showInfo("good~上传完成并成功")
                    // 上传成功
                    $("#pic_tmp_path").val(result.msg.tmpUrl);
                    $("#agent_pic").attr("src",result.msg.url);
                } else {
                    showInfo("图片ajax传送后端失败...")
                    // 上传失败
                }
            }
        };
        xhr.open('POST', '/agent/applyAgentUploadPic/' , true);
        xhr.send(formData);
    }

</script>

</body>
</html>
