<div class="pageMyEdit">
    <div class="avatar">
        <img src="{$info['avatar_url']}" alt="" />
        <p>{$info['real_name']}</p>
    </div>
    <!-- //End  avatar-->

    <div class="sex">
        <span id="male" onclick="selSex(1);"><img src="{CONST|H_STATIC_URL}/agent/assets/images/my/sex-man.png" />男</span>
        <span id="female"  onclick="selSex(2);"><img src="{CONST|H_STATIC_URL}/agent/assets/images/my/sex-nv.png" />女</span>
    </div>
    <!-- //End  sex-->

    <div class="baseForm">
        <form action="" method="post" enctype="multipart/form-data" id="myForm">
            <input name="sex" type="hidden" id="sex" value="{$info['sex']}" />
            <!--<div class="group">-->
                <!--<label>出生日期</label>-->
                <!--&lt;!&ndash; <input-->
                  <!--class="ipt"-->
                  <!--type="text"-->
                  <!--minlength="3"-->
                  <!--placeholder="请选择"-->
                  <!--required-->
                <!--/> &ndash;&gt;-->
                <!--<input-->
                        <!--name=""-->
                    <!--type="text"-->
                    <!--class="am-form-field ipt"-->
                    <!--placeholder="请选择"-->
                    <!--data-am-datepicker-->
                    <!--readonly-->
                    <!--required-->
                <!--/>-->
                <!--<img class="imgGo" src="{CONST|H_STATIC_URL}/agent/assets/images/my/icon-go.png" alt="" />-->
            <!--</div>-->
            <div class="group">
                <label>店面名称</label>
                <input class="ipt" type="text" name="title" minlength="3" placeholder="" value="{$info['title']}" />
            </div>
            <div class="group">
                <label>店铺图片</label>
                <div class="ipt"><img src="{$info['pic_url']}" id="agent_pic" width="80" height="80" /></div>
                <div class="file">
                    <span>替换图片</span>
                    <input class="iptFile" type="file" name="pic"  accept="image/*" onchange="handleInputChange(this)" />
                    <input type="hidden" name="pic_tmp_path" id="pic_tmp_path" value="{$info['pic']}" />
                </div>
            </div>
            <div class="group">
                <label>区域地址</label>
                <input
                    class="ipt"
                    id="city"
                    type="text"
                    readonly=""
                    placeholder=""
                    value="{$placeholder}"
                />
                <input id="cityVal" type="hidden" name="area" value="{$areaStr}" />
                <img class="imgGo" src="{CONST|H_STATIC_URL}/agent/assets/images/my/icon-go.png" alt="" />
            </div>
            <div class="group">
                <label>详细地址</label>
                <input class="ipt" type="text" minlength="3" placeholder="" name="address"  value="{$info['address']}"  />
            </div>
            <div class="group">
                <label>真实姓名</label>
                <input class="ipt" type="text" minlength="3" placeholder="" name="real_name" value="{$info['real_name']}"  />
            </div>

            <input type="" class="iptBtn" value="提交" style="text-align:center" onclick="submitData();"/>
        </form>
    </div>
</div>
<!-- //End -->

<script>
    var info = eval ( {$uinfo} );
    $(document).ready(function(){


        // alert(area_province[0]['name']);

        if(info.sex == 1){
            $("#male").addClass("active");
            $("#sex").val(1);
        }else{
            $("#sex").val(2);
            $("#female").addClass("active");
        }
        var area1 = new LArea()
        area1.init({
            trigger: '#city', //触发选择控件的文本框，同时选择完毕后name属性输出到该位置
            valueTo: '#cityVal', //选择完毕后id属性输出到该位置
            keys: {
                id: 'id',
                name: 'name',
            }, //绑定数据源相关字段 id对应valueTo的value属性输出 name对应trigger的value属性输出
            type: 1, //数据源类型
            data: LAreaData, //数据源
        });
        // alert(info.province_code ,info.city_code, info.county_code );
        // console.log(info.province_code ,info.city_code, info.county_code);
        //控制初始位置，注意：该方法并不会影响到input的value
        // if(info.province_code && info.city_code && info.county_code){
        //     area1.value = [info.province_code, info.city_code, info.county_code];
        // }

        // var area2 = new LArea()
        // area2.init({
        //     trigger: '#demo2',
        //     valueTo: '#value2',
        //     keys: {
        //         id: 'value',
        //         name: 'text',
        //     },
        //     type: 2,
        //     data: [provs_data, citys_data, dists_data],
        // })
    });


    function submitData(){
        $.ajax({
            url:'/agent/editUinfo/opt=1',
            data:$('#myForm').serialize(),                 //将表单数据序列化，格式为name=value
            type:'POST',
            dataType:'json',
            success:function(data){
                var backData = eval( data);
                // alert(backData.code);
                if(backData.code != 200){
                    toastFail(backData.msg);
                }else{
                    toastOk("添加成功");
                    // location.href="/";
                }
            },
            error:function(){
                console.log("提交ajax函数异常");
            },

        });
    }


    function selSex(type){
        if(type== 1){
            $("#male").addClass("active");
            $("#female").removeClass("active");
            $("#sex").val(1);
        }else{
            $("#female").addClass("active");
            $("#male").removeClass("active");
            $("#sex").val(2);
        }
    }

</script>


<script>

    // 全局对象，不同function使用传递数据
    var imgFile = {};

    function handleInputChange (Obj) {
        console.log(event)
        // alert(111);
        // 获取当前选中的文件
        const file = event.target.files[0];
        const imgMasSize = 1024 * 1024 * 10; // 10MB

        // 检查文件类型
        if(['jpeg', 'png', 'gif', 'jpg'].indexOf(file.type.split("/")[1]) < 0){
            // 自定义报错方式
            // Toast.error("文件类型仅支持 jpeg/png/gif！", 2000, undefined, false);
            return;
        }

        // 文件大小限制
        if(file.size > imgMasSize ) {
            // 文件大小自定义限制
            // Toast.error("文件大小不能超过10MB！", 2000, undefined, false);
            return;
        }

        // 判断是否是ios
        if(!!window.navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/)){
            // iOS
            transformFileToFormData(file);
            return;
        }

        // 图片压缩之旅
        transformFileToDataUrl(file);
    }
    // 将File append进 FormData
    function transformFileToFormData (file) {
        const formData = new FormData();
        // 自定义formData中的内容
        // type
        formData.append('type', file.type);
        // size
        formData.append('size', file.size || "image/jpeg");
        // name
        formData.append('name', file.name);
        // lastModifiedDate
        formData.append('lastModifiedDate', file.lastModifiedDate);
        // append 文件
        formData.append('file', file);
        // 上传图片
        uploadImg(formData);
    }
    // 将file转成dataUrl
    function transformFileToDataUrl (file) {
        const imgCompassMaxSize = 200 * 1024; // 超过 200k 就压缩

        // 存储文件相关信息
        imgFile.type = file.type || 'image/jpeg'; // 部分安卓出现获取不到type的情况
        imgFile.size = file.size;
        imgFile.name = file.name;
        imgFile.lastModifiedDate = file.lastModifiedDate;

        console.log("imgFile.type",imgFile.type,"imgFile.size",imgFile.size,"imgFile.name",imgFile.name,"imgFile.lastModifiedDate",imgFile.lastModifiedDate);

        // 封装好的函数
        const reader = new FileReader();

        // file转dataUrl是个异步函数，要将代码写在回调里
        reader.onload = function(e) {
            const result = e.target.result;

            if(result.length < imgCompassMaxSize) {
                compress(result, processData, false );    // 图片不压缩
            } else {
                compress(result, processData);            // 图片压缩
            }
        };

        reader.readAsDataURL(file);
    }
    // 使用canvas绘制图片并压缩
    function compress (dataURL, callback, shouldCompress = true) {
        console.log("dataURL",dataURL);
        const img = new window.Image();

        img.src = dataURL;

        img.onload = function () {
            const canvas = document.createElement('canvas');
            const ctx = canvas.getContext('2d');

            canvas.width = img.width;
            canvas.height = img.height;

            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

            let compressedDataUrl;

            if(shouldCompress){
                compressedDataUrl = canvas.toDataURL(imgFile.type, 0.2);
            } else {
                compressedDataUrl = canvas.toDataURL(imgFile.type, 1);
            }

            callback(compressedDataUrl);
        }
    }

    function processData (dataUrl) {
        // 这里使用二进制方式处理dataUrl
        const binaryString = window.atob(dataUrl.split(',')[1]);
        const arrayBuffer = new ArrayBuffer(binaryString.length);
        const intArray = new Uint8Array(arrayBuffer);
        // imgFile = imgFile;

        // console.log("reset imgFile",imgFile);

        for (let i = 0, j = binaryString.length; i < j; i++) {
            intArray[i] = binaryString.charCodeAt(i);
        }

        const data = [intArray];

        let blob;

        console.log(" imgFile.type", imgFile);
        try {
            blob = new Blob(data, { type: imgFile.type });
        } catch (error) {
            console.log("Blob exception:",error);
            window.BlobBuilder = window.BlobBuilder ||
                window.WebKitBlobBuilder ||
                window.MozBlobBuilder ||
                window.MSBlobBuilder;
            if (error.name === 'TypeError' && window.BlobBuilder){
                const builder = new BlobBuilder();
                builder.append(arrayBuffer);
                blob = builder.getBlob(imgFile.type);
            } else {
                // Toast.error("版本过低，不支持上传图片", 2000, undefined, false);
                throw new Error('版本过低，不支持上传图片');
            }
        }

        // blob 转file
        const fileOfBlob = new File([blob], imgFile.name);
        const formData = new FormData();

        // type
        formData.append('type', imgFile.type);
        // size
        formData.append('size', fileOfBlob.size);
        // name
        formData.append('name', imgFile.name);
        // lastModifiedDate
        formData.append('lastModifiedDate', imgFile.lastModifiedDate);
        // append 文件
        formData.append('file', fileOfBlob);

        uploadImg(formData);
    }

    // 上传图片
    function uploadImg (formData) {
        const xhr = new XMLHttpRequest();

        // 进度监听
        xhr.upload.addEventListener('progress', (e)=>{console.log(e.loaded / e.total)}, false);
        // 加载监听
        // xhr.addEventListener('load', ()=>{console.log("加载中");}, false);
        // 错误监听
        xhr.addEventListener('error', ()=>{Toast.error("上传失败！", 2000, undefined, false);}, false);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                const result = JSON.parse(xhr.responseText);
                if (xhr.status === 200) {
                    // 上传成功
                    $("#pic_tmp_path").val(result.msg.tmpUrl);
                    $("#agent_pic").attr("src",result.msg.url);
                } else {
                    // 上传失败
                }
            }
        };
        xhr.open('POST', '/agent/applyAgentUploadPic/' , true);
        xhr.send(formData);
    }

</script>


</body>
</html>
