<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit" />
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png" />
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png" />
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <meta name="msapplication-TileColor" content="#0e90d2" />
    <style>
      a {
        width: 100%;
        float: left;
        line-height: 30px;
      }
    </style>
  </head>
  <body>
    <a href="1个人中心.html">1个人中心</a>
    <a href="1编辑个人资料.html">1编辑个人资料</a>
    <a href="2提现记录列表.html">2提现记录列表</a>
    <a href="2提现详情.html">2提现详情</a>
    <a href="2申请提现.html">2申请提现</a>
    <a href="2用户下单.html">2用户下单</a>
    <a href="2我的下级.html">2我的下级</a>
    <a href="登录.html">登录</a>
    <a href="绑定用户.html">绑定用户</a>
    <a href="解除绑定.html">解除绑定</a>
    <a href="申请成为代理.html">申请成为代理</a>
    <a href="操作提示.html">操作提示</a>
  </body>
</html>
