
<div class="pageMyEdit">
    <div class="avatar">
        <img src="{CONST|H_STATIC_URL}/agent/assets/images/loginLogo.png" alt="" />
        <p>新零售代理平台</p>
    </div>
    <!-- //End  avatar-->

    <div class="baseForm">
        <form action="" id="myForm">
            <input type="hidden" name="opt" value="1" />
            <div class="group">
                <label>手机号</label>
                <input id="phone" name = "phone" type="text" maxlength="11"
                    class="ipt"
                    placeholder="请输入手机号"
                    required
                />
            </div>
            <div class="group vGroup">
                <label>验证码</label>
                <input name="smsCode" type="text" class="ipt" placeholder="请输入验证码" required maxlength="6"
                />
                <span class="vCode">发送验证码</span>
            </div>
            <input type="" class="iptBtn" value="登录" style="text-align:center" onclick="submitData();"/>
        </form>
    </div>
</div>
<!-- //End -->




<script>
    $(function () {
        //获取短信验证码
        var validCode = true
        $('.vCode').click(function () {
            var time = 60
            var code = $(this)
            if (validCode) {

                var phone = $("#phone").val();
                // alert(phone);
                if(!phone || phone == 'undefined' || typeof(phone) == undefined){
                    return toastFail("手机号为空");
                }
                if(!checkPhone(phone)){
                    return toastFail("手机号格式错误");
                }
                // return alert(phone);
                $.ajax({
                    //请求方式
                    type : "POST",
                    //请求的媒体类型
                    // contentType: "application/json;charset=UTF-8",
                    //请求地址
                    url : "/system/sendLoginSms/",
                    //数据，json字符串
                    // data : JSON.stringify(list),
                    data : "phone="+phone+"&rule=1",
                    //请求成功
                    success : function(result) {
                        var data = eval( "(" + result + ")" );
                        if(data.code == 200){
                            toastOk("短信已发送，注意查收");
                            validCode = false

                            var t = setInterval(function () {
                                code.addClass('msgs1')
                                time--
                                code.html(time + '秒')
                                if (time == 0) {
                                clearInterval(t)
                                code.html('重新获取')
                                validCode = true
                                code.removeClass('msgs1')
                                }
                            }, 1000)
                        }else{
                            toastFail("发送短信异常:"+data.msg);
                        }

                    },
                    //请求失败，包含具体的错误信息
                    error : function(e){
                        toastFail("ajax error");
                        console.log(e.status);
                        console.log(e.responseText);
                    }
                });
            }
        })
    })

    function checkPhone(){
        var phone = document.getElementById('phone').value;
        if(!(/^1[23456789]\d{9}$/.test(phone))){
            return false;
        }
        return true;
    }

    function submitData(){
        $.ajax({
            url:'/login/index/',
            data:$('#myForm').serialize(),                 //将表单数据序列化，格式为name=value
            type:'POST',
            dataType:'json',
            success:function(data){
                var backData = eval( data);
                // alert(backData.code);
                if(backData.code != 200){
                    toastFail(backData.msg);
                }else{
                    toastOk("登陆成功");
                    location.href="/";
                }
            },
            error:function(){
                console.log("提交ajax函数异常");
            },

        });
    }
</script>
</body>
</html>
