<div class="pageMyTx pageMyXj bgColor">
    <div class="container">
        <div class="item">
            <div class="num">用户ID：1200110231</div>
            <div class="num">用户名：我的下级1</div>
            <div class="timeSq">加入时间：2020/08/31 09:30</div>
            <div class="timeSq">成交订单数：31</div>
            <div class="pprice">成交总金额：¥1219.88</div>
            <div class="pprice">可获得佣金：¥121.98</div>
            <img
                class="imgGo"
                src="./assets/images/my/icon-go2-selected.png"
                alt=""
            />
        </div>
        <div class="item">
            <div class="num">用户ID：1200110231</div>
            <div class="num">用户名：我的下级1</div>
            <div class="timeSq">加入时间：2020/08/31 09:30</div>
            <div class="timeSq">成交订单数：31</div>
            <div class="pprice">成交总金额：¥1219.88</div>
            <div class="pprice">可获得佣金：¥121.98</div>
            <img
                class="imgGo"
                src="./assets/images/my/icon-go2-selected.png"
                alt=""
            />
        </div>
    </div>
    <div class="tools">
        <span class="btnDefault textColor"
        ><img
                class="go"
                src="./assets/images/my/icon-go2-selected.png"
            />全选</span
        >
        <span class="btnSelected">申请提现</span>
    </div>
</div>
<!-- //End -->
</body>
</html>
