<div class="pageMyEdit">
    <div class="avatar">
        <img src="{CONST|H_STATIC_URL}/agent/assets/images/unbingUser.png" alt="" />
    </div>
    <!-- //End  avatar-->

    <div class="baseFormC baseFormA">
        <form action="">
            <div class="group">
                <label>绑定ID</label>
                <div class="ipt">1000200</div>
            </div>
            <div class="group">
                <label>绑定昵称</label>
                <div class="ipt">憩息</div>
            </div>

            <div class="btns">
                <span class="btnCancel">取消</span>
                <span class="btnbind" onclick="goto()">解除绑定</span>
            </div>
        </form>
    </div>
</div>

<script>
    function goto(){
        location.href="/agent/unbindUser/opt=1";
    }
</script>

<!-- //End -->
</body>
</html>
