<div class="pageMyTx">
    <div class="baseFormC">
        <div class="group">
            <label>订单ids</label>
            <div class="ipt">{$info['orders_ids']}</div>
        </div>
        <div class="group">
            <label>金额</label>
            <div class="ipt">¥{$info['price_yuan']}</div>
        </div>
        <div class="group">
            <label>打款方式</label>
            <div class="ipt">微信支付</div>
        </div>
        <div class="group">
            <label>开户银行</label>
            <div class="ipt">{$info['bank']}</div>
        </div>
        <div class="group">
            <label>户主</label>
            <div class="ipt">{$info['account_master']}</div>
        </div>
        <div class="group">
            <label>支付宝号</label>
            <div class="ipt">{$info['ali']}</div>
        </div>
        <div class="group">
            <label>微信号</label>
            <div class="ipt">{$info['wx']}</div>
        </div>

        <div class="group">
            <label>状态</label>
            <div class="ipt">{$info['status_desc']}</div>
        </div>
        <div class="group">
            <label>申请时间</label>
            <div class="ipt">{$info['a_date']}</div>
        </div>
        <div class="group">
            <label>审批时间</label>
            <div class="ipt">{$info['u_date']}</div>
        </div>

        <div class="group textarea">
            <div class="text">
                <p class="t1">备注</p>
                {if !$info['memo']}
                <p>暂无备注</p>
                {else}
                <p>{$info['memo']}</p>
                {/if}
            </div>
        </div>
        <div class="btn" onclick="backStep()">返回</div>
    </div>
</div>
<!-- //End -->
</body>
</html>
