<div class="pageMyTx bgColor">
    <div class="container">
        <div class="item">
            <div class="num">订单号：1200110231</div>
            <div class="timeSq">申请时间：2020/08/30 20:12</div>
            <div class="price">
                ¥420<img src="./assets/images/my/icon-go.png" />
            </div>
            <div class="timeDk">打款时间：2020/08/31 09:30</div>
            <div class="status"><span>已打款</span></div>
        </div>
        <div class="item">
            <div class="num">订单号：1200110231</div>
            <div class="timeSq">申请时间：2020/08/30 20:12</div>
            <div class="price">
                ¥420<img src="./assets/images/my/icon-go.png" />
            </div>
            <div class="timeDk">打款时间：——</div>
            <div class="status"><span>已通过 等待打款</span></div>
        </div>
    </div>
</div>
<!-- //End -->

<script></script>
</body>
</html>
