<div class="pageMyTx bgColor">
    <div class="container">

        {foreach ($list as  $k=>$v) }
            <div class="item">
                <div class="num">订单号：{$v['orders_ids']}</div>
                <div class="timeSq">申请时间：{$v['a_date']}</div>
                <div class="price">
                    ¥{$v['price']}
                    <a href="/withdraw/detail/id={$v['id']}">
                    <img src="{CONST|H_STATIC_URL}/agent/assets/images/my/icon-go.png" />
                    </a>
                </div>
                <!--<div class="timeDk">打款时间：2020/08/31 09:30</div>-->
                <div class="status"><span>{$v['status_desc']}</span></div>
            </div>
        {/foreach}
    </div>
</div>
<!-- //End -->

</body>
</html>
