<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->

    {include layout/left.html}


    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>添加订单
                            </div>
                            <div class="actions">
                                <a href="{$this->_backListUrl}" class="btn btn-default btn-sm">
                                    <i class="fa fa-arrow-left"></i> 返回列表 </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <form action="/house/no/order/add/opt=1" method="post" id="form_sample_3" class="form-horizontal" enctype="multipart/form-data">
                                <input type="hidden" value="{$house['id']}" name="hid" />
                                <div class="form-body">
                                    <div class="alert alert-danger display-hide">
                                        <button class="close" data-close="alert"></button>
                                        表单某些字段值填写错误，请检查
                                    </div>
                                    <div class="alert alert-success display-hide">
                                        <button class="close" data-close="alert"></button>
                                        表单验证成功
                                    </div>



                                    <div class="form-group">
                                        <label class="control-label col-md-3">房源ID</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" value="{$house['id']}" />
                                        </div>
                                    </div>
                                    <div class="form-group" id="categoryAttr" >
                                        <label class="control-label col-md-3">类型
                                        </label>
                                        <div class="col-md-4">
                                            <!--                                            <select class="table-group-action-input form-control input-inline input-small input-sm" name="type">-->
                                            <!--                                                <option value="">请选择</option>-->
                                            <!--                                                {$getTypeOptions}-->
                                            <!--                                            </select>-->
                                            <input type="text" disabled class="form-control" value="租赁" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">{CONST|SALE_MAN}ID<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">

                                            <input type="text" name="saler_id" data-required="1"   class="form-control" value="" />
                                        </div>
                                        <span class="help-inline">请去管理员列表查找</span>
                                    </div>



                                    <div class="form-group">
                                        <label class="control-label col-md-3">分类<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <select class="table-group-action-input form-control input-inline input-small input-sm" name="category" id="category" onchange="changeUserType();">
                                                <option value="">请选择</option>
                                                {$getCateTypeOptions}
                                            </select>

                                        </div>
                                        <span class="help-inline">先创建<{CONST|ORDER_M}>,再创建<{CONST|ORDER_U}></span>
                                    </div>



                                    <div id="user_type_block">

                                    </div>

                                    <hr/>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">{CONST|PAY_MODE} <span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">

                                            <select class="table-group-action-input form-control input-inline input-small input-sm" name="pay_mode">
                                                <option value="">请选择</option>
                                                {$getPayTypeOptions}
                                            </select>
                                        </div>
                                    </div>

<!--                                    <div class="form-group">-->
<!--                                        <label class="control-label col-md-3">付款提醒(秒)-->
<!--                                        </label>-->
<!--                                        <div class="col-md-4">-->

<!--                                            <input type="text" name="warn_trigger_time" data-required="1" class="form-control" value="" />-->
<!--                                        </div>-->
<!--                                    </div>-->

                                    <div class="form-group">
                                        <label class="control-label col-md-3"> {CONST|ADVANCE_DAY}
                                            <span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="advance_day" value="" />
                                        </div>
                                        <span class="help-inline">提前几天收付款</span>
                                    </div>


                                    <hr/>



                                    <div class="form-group">
                                        <label class="control-label col-md-3">合同编号
                                            <span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="contract_no" value="" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">{CONST|CONTRACT_PRICE}
                                            <span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="price" value="" />
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3">{CONST| PRICE_UNIT}
                                            <span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="price_unit" value="" />
                                        </div>
                                        <span class="help-inline">月付金额</span>
                                    </div>



                                    <div class="form-group">
                                        <label class="control-label col-md-3">{CONST| CONTRACT_START} <span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                <i class="fa"></i>

                                                <div class="input-group date form_date margin-bottom-5">
                                                    <input type="text" class="form-control form-filter input-sm" style="height: 34px" readonly name="contract_start_time" id="" placeholder="date">
                                                    <span class="input-group-btn">
<!--                                                        <button class="btn default date-reset" type="button" style="margin-right: 0"><i class="fa fa-times"></i></button>-->
                                                        <button class="btn default date-set" type="button" style="margin-right: 0"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3">{CONST| CONTRACT_END} <span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                <i class="fa"></i>

                                                <div class="input-group date form_date margin-bottom-5">
                                                    <input type="text" class="form-control form-filter input-sm" style="height: 34px" readonly name="contract_end_time" placeholder="date">
                                                    <span class="input-group-btn">
<!--                                                        <button class="btn default date-reset" type="button" style="margin-right: 0"><i class="fa fa-times"></i></button>-->
                                                        <button class="btn default date-set" type="button" style="margin-right: 0"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">合同附件
<!--                                            <span class="required">-->
<!--										* </span>-->
                                        </label>
                                        <div class="col-md-4">
                                            <input type="file" name="contract_attachment" data-required="1" class="form-control" value="" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">合同金额计算公式
                                        </label>
                                        <div class="col-md-4">
                                            房主<br/>
                                            (暂不支持:外置、违约)<br/>
                                            内置：{CONST| PRICE_UNIT}(月租金) X 月数-{CONST| FIRST_PAY_FREE_PRICE}={CONST| CONTRACT_PRICE}<br/>
                                            用户<br/>
                                            (暂不支持:违约)<br/>
                                            水 + 电 + 垃圾 + 维修 + 押金 = {CONST| CONTRACT_PRICE}<br/>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn green sub_click">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                        <!-- END VALIDATION STATES-->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
