<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->

    {include layout/left.html}


    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>添加订单
                            </div>
                            <div class="actions">
                                <a href="{$this->_backListUrl}" class="btn btn-default btn-sm">
                                    <i class="fa fa-arrow-left"></i> 返回列表 </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <form action="/house/no/order/add/opt=1" method="post" id="form_sample_3" class="form-horizontal" enctype="multipart/form-data">
                                <input type="hidden" value="{$house['id']}" name="hid" />
                                <div class="form-body">
                                    <div class="alert alert-danger display-hide">
                                        <button class="close" data-close="alert"></button>
                                        表单某些字段值填写错误，请检查
                                    </div>
                                    <div class="alert alert-success display-hide">
                                        <button class="close" data-close="alert"></button>
                                        表单验证成功
                                    </div>



                                    <div class="form-group">
                                        <label class="control-label col-md-3">房源ID</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" value="{$house['id']}" />
                                        </div>
                                    </div>

                                    <div class="form-group" id="categoryAttr" >
                                        <label class="control-label col-md-3">类型<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <select class="table-group-action-input form-control input-inline input-small input-sm" name="type">
                                                <option value="">请选择</option>
                                                {$getTypeOptions}
                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">用户类型<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <select class="table-group-action-input form-control input-inline input-small input-sm" name="category" id="category" onchange="changeUserType();">
                                                <option value="">请选择</option>
                                                {$getCateTypeOptions}
                                            </select>

                                        </div>
                                    </div>

                                    <div id="user_type_block">

                                    </div>

                                    <hr/>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">付款模式 <span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">

                                            <select class="table-group-action-input form-control input-inline input-small input-sm" name="pay_mode">
                                                <option value="">请选择</option>
                                                {$getPayTypeOptions}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">付款提醒(秒)
                                        </label>
                                        <div class="col-md-4">

                                            <input type="text" name="warn_trigger_time" data-required="1" class="form-control" value="" />
                                        </div>
                                    </div>


                                    <hr/>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">合同金额
                                            <span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="price" value="" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">月租金
                                            <span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="month_price" value="" />
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label class="control-label col-md-3">合同开始时间 <span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                <i class="fa"></i>

                                                <div class="input-group date form_date margin-bottom-5">
                                                    <input type="text" class="form-control form-filter input-sm" style="height: 34px" readonly name="contract_start_time" id="" placeholder="date">
                                                    <span class="input-group-btn">
<!--                                                        <button class="btn default date-reset" type="button" style="margin-right: 0"><i class="fa fa-times"></i></button>-->
                                                        <button class="btn default date-set" type="button" style="margin-right: 0"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3">合同结束时间 <span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <div class="input-icon right">
                                                <i class="fa"></i>

                                                <div class="input-group date form_date margin-bottom-5">
                                                    <input type="text" class="form-control form-filter input-sm" style="height: 34px" readonly name="contract_end_time" placeholder="date">
                                                    <span class="input-group-btn">
<!--                                                        <button class="btn default date-reset" type="button" style="margin-right: 0"><i class="fa fa-times"></i></button>-->
                                                        <button class="btn default date-set" type="button" style="margin-right: 0"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">合同附件<span class="required">
										* </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="file" name="contract_attachment" data-required="1" class="form-control" value="" />
                                        </div>
                                    </div>


                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn green sub_click">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                        <!-- END VALIDATION STATES-->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
