<script>
    var FormValidation = function () {


        // advance validation
        var handleValidation3 = function() {
            // for more info visit the official plugin documentation:
            // http://docs.jquery.com/Plugins/Validation

            var form3 = $('#form_sample_3');
            var error3 = $('.alert-danger', form3);
            var success3 = $('.alert-success', form3);

            //IMPORTANT: update CKEDITOR textarea with actual content before submit
            form3.on('submit', function() {
//                for(var instanceName in CKEDITOR.instances) {
//                    CKEDITOR.instances[instanceName].updateElement();
//                }
            });

            form3.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "", // validate all fields including form hidden input
                rules: {
                    saler_id: {
                        required: true,
                        int:true
                    },
                    deposit_price: {
                        required: true,
                        // price:true
                        // int:true,
                    },
                    category: {
                        required: true
                    },
                    uname: {
                        required: true
                    },
                    user_mobile: {
                        required: true
                    },
                    // uid: {
                    //     required: true,
                    //     int:true
                    // },
                    // master_id: {
                    //     required: true,
                    // },
                    advance_day: {
                        required: true,
                        int:true
                    },
                    price_unit: {
                        required: true,
                        int:true
                    },
                    vacancy_price: {
                        required: true,
                        int:true
                    },
                    water_price: {
                        required: true,
                        int:true
                    },
                    elec_price: {
                        required: true,
                        int:true
                    },
                    garbage_price: {
                        required: true,
                        int:true
                    },
                    repair_fund_price: {
                        required: true,
                        int:true
                    },

                    property_heat_type: {
                        required: true,
                        int:true
                    },
                    // time_cycle: {
                    //     required: true,
                    //     int:true
                    // },

                    price: {
                        required: true,
                        price:true
                    },
                    type: {
                        required: true,
                    } ,
                    pay_mode: {
                        required: true
                    },
                    // master_pay_mode: {
                    //     required: true,
                    // },
                    warn_trigger_time: {
                        int: true
                    },
                    master_breach_price: {
                    //     minlength: 7,
                    //     maxlength: 7,
                        required: true
                    },
                    contract_no: {
                        required: true
                    },
                    contract_start_time: {
                        required: true
                    },
                    contract_end_time: {
                        required: true
                    },
                    // contract_attachment: {
                    //     required: true
                    // },
                },

                messages: { // custom messages for radio buttons and checkboxes
                    // old_ps: {
                    //     minlength: '最少6个字符',
                    //     required: '不能为空'
                    // },
                    // ps: {
                    //     minlength: '最少6个字符',
                    //     required: '不能为空'
                    // },
                    // ps_sure: {
                    //     minlength: '最少6个字符',
                    //     required: '不能为空',
                    //     equalTo:'两次密码不一致'
                    // }
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.parent(".input-group").size() > 0) {
                        error.insertAfter(element.parent(".input-group"));
                    } else if (element.attr("data-error-container")) {
                        error.appendTo(element.attr("data-error-container"));
                    } else if (element.parents('.radio-list').size() > 0) {
                        error.appendTo(element.parents('.radio-list').attr("data-error-container"));
                    } else if (element.parents('.radio-inline').size() > 0) {
                        error.appendTo(element.parents('.radio-inline').attr("data-error-container"));
                    } else if (element.parents('.checkbox-list').size() > 0) {
                        error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    } else if (element.parents('.checkbox-inline').size() > 0) {
                        error.appendTo(element.parents('.checkbox-inline').attr("data-error-container"));
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success3.hide();
                    error3.show();
                    Metronic.scrollTo(error3, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                },

                submitHandler: function (form) {
                    var btn = $(this);
                    btn.button('loading');

                    success3.show();
                    error3.hide();
                    form.submit(); // submit the form
                }

            });

        }

        return {
            //main function to initiate the module
            init: function () {
                handleValidation3();
            }
        };
    }();


    jQuery(document).ready(function() {
        FormValidation.init();
    });


</script>


<script>
    jQuery(document).ready(function() {
        FormValidation.init();


        $(".form_date").datepicker({
            isRTL: Metronic.isRTL(),
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: true,
            // startDate: "2013-02-14",
            // pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left"),
            // minuteStep: 10
        });


    });

    function changeUserType(){
        var obj = $("#category");
        var userTypeId = obj.val();
        if(userTypeId == 1){//房主
            // $("#user_type_block").css("display","none");
            $("#user_type_block").html("");
            $("#user_type_block").html(getMasterBlock());
        }else if(userTypeId == 2) {//用户
            // $("#user_type_block").css("display","");
            $("#user_type_block").html("");
            $("#user_type_block").html(getUserBlock());
        }else{
            $("#user_type_block").html("");
        }
    }

    changeUserType();

    function getMasterBlock(){
        // '                                                <input type="radio" class="md-radiobtn" name="time_cycle" value="1">内置\n'+
        // '                                                <input type="radio" class="md-radiobtn" name="time_cycle" value="2">外置\n'+
        var html = '<hr/>\n'+
            '<div class="form-group">\n' +
            '                                            <label class="control-label col-md-3">首次付款空置费<span class="required">\n' +
            '                                            * </span>\n' +
            '                                            </label>\n' +
            '                                            <div class="col-md-4">\n' +
            '                                                <input type="text" name="vacancy_price" data-required="1" class="form-control" value="" id="" />\n' +
            '                                            </div>\n' +
            '                                        </div>\n' +



            '\n' +
            '\n' +

            '<div class="form-group">\n' +
            '                                            <label class="control-label col-md-3">时间周期<span class="required">\n' +
            '                                            * </span>\n' +
            '                                            </label>\n' +
            '                                            <div class="col-md-4">\n' +
                                                                '内置'+
            '                                            </div>\n' +
            '                                        </div>\n' +



            '\n' +
            '\n' +



            '<div class="form-group">\n' +
            '                                            <label class="control-label col-md-3">物业费/取暖费<span class="required">\n' +
            '                                            * </span>\n' +
            '                                            </label>\n' +
            '                                            <div class="col-md-4">\n' +
            '                                                <input type="radio" class="md-radiobtn" name="property_heat_type" value="1">双包\n'+
            '                                                <input type="radio" class="md-radiobtn" name="property_heat_type" value="2">半包\n'+
            '                                                <input type="radio" class="md-radiobtn" name="property_heat_type" value="3">不包\n'+
            '                                            </div>\n' +
            '                                        </div>\n' +



            '\n';
        return html;
    }

    function getUserBlock(){
        var html = '<hr/>\n'+
            '<div class="form-group">\n' +
            '                                            <label class="control-label col-md-3">用户姓名<span class="required">\n' +
            '                                            * </span>\n' +
            '                                            </label>\n' +
            '                                            <div class="col-md-4">\n' +
            '                                                <input type="text" name="uname" data-required="1" class="form-control" value="" id="" />\n' +
            '                                            </div>\n' +
            '                                        </div>\n' +


            '\n' +
            '\n' +

            '<div class="form-group">\n' +
            '                                            <label class="control-label col-md-3">用户手机号<span class="required">\n' +
            '                                            * </span>\n' +
            '                                            </label>\n' +
            '                                            <div class="col-md-4">\n' +
            '                                                <input type="text" name="user_mobile" data-required="1" class="form-control" value="" id="" />\n' +
            '                                            </div>\n' +
            '                                        </div>\n' +


            '\n' +
            '\n' +


            '<div class="form-group">\n' +
            '                                            <label class="control-label col-md-3">水费<span class="required">\n' +
            '                                            * </span>\n' +
            '                                            </label>\n' +
            '                                            <div class="col-md-4">\n' +
            '                                                <input type="text" name="water_price" data-required="1" class="form-control" value="" id="" />\n' +
            '                                            </div>\n' +
            '                                        </div>\n' +



            '\n' +
            '\n' +

            '<div class="form-group">\n' +
            '                                            <label class="control-label col-md-3">电费<span class="required">\n' +
            '                                            * </span>\n' +
            '                                            </label>\n' +
            '                                            <div class="col-md-4">\n' +
            '                                                <input type="text" name="elec_price" data-required="1" class="form-control" value="" id="" />\n' +
            '                                            </div>\n' +
            '                                        </div>\n' +



            '\n' +
            '\n' +

            '<div class="form-group">\n' +
            '                                            <label class="control-label col-md-3">维修基金<span class="required">\n' +
            '                                            * </span>\n' +
            '                                            </label>\n' +
            '                                            <div class="col-md-4">\n' +
            '                                                <input type="text" name="repair_fund_price" data-required="1" class="form-control" value="" id="" />\n' +
            '                                            </div>\n' +
            '                                        </div>\n' +




            '\n' +
            '\n' +

            '<div class="form-group">\n' +
            '                                            <label class="control-label col-md-3">垃圾费<span class="required">\n' +
            '                                            * </span>\n' +
            '                                            </label>\n' +
            '                                            <div class="col-md-4">\n' +
            '                                                <input type="text" name="garbage_price" data-required="1" class="form-control" value="" id="" />\n' +
            '                                            </div>\n' +
            '                                        </div>\n' +




            '\n' +
            '\n' +

            '                                        <div class="form-group">\n' +
            '                                            <label class="control-label col-md-3">押金\n' +
            '                                                                                            <span class="required">* </span>\n' +
            '                                            </label>\n' +
            '                                            <div class="col-md-4">\n' +
            '                                                <input type="text" name="deposit_price" data-required="1" class="form-control" value="" id="deposit_price" />\n' +
            '                                            </div>\n' +
            '                                        </div>';

        return html;
    }



    // $(".form_datetime").datetimepicker({
    //     isRTL: Metronic.isRTL(),
    //     format: "yyyy-mm-dd hh:ii",
    //     autoclose: true,
    //     todayBtn: true,
    //     startDate: "2013-02-14 10:00",
    //     pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left"),
    //     minuteStep: 10
    // });
</script>