<script>

    var FormValidation = function () {


        // advance validation
        var handleValidation3 = function()
        // {
        //     // for more info visit the official plugin documentation:
        //     // http://docs.jquery.com/Plugins/Validation
        //
        //     var form3 = $('#form_sample_3');
        //     var error3 = $('.alert-danger', form3);
        //     var success3 = $('.alert-success', form3);
        //
        //     form3.validate({
        //         errorElement: 'span', //default input error message container
        //         errorClass: 'help-block help-block-error', // default input error message class
        //         focusInvalid: false, // do not focus the last invalid input
        //         ignore: "", // validate all fields including form hidden input
        //         rules: {
        //             title: {
        //                 required: true
        //             },
        //             pic: {
        //                 required: true
        //             },
        //             realname: {
        //                 required: true,
        //             },
        //             id_card_num: {
        //                 required: true
        //             },
        //             sex: {
        //                 required: true
        //             },
        //             mobile: {
        //                 required: true
        //             },
        //             fee_percent: {
        //                 required: true
        //             },
        //             address: {
        //                 required: true
        //             },
        //             province: {
        //                 required: true
        //             },
        //
        //             city: {
        //                 required: true
        //             },
        //
        //             county: {
        //                 required: true
        //             },
        //
        //             town: {
        //                 required: true
        //             },
        //
        //             villages: {
        //                 required: true
        //             },
        //
        //         },
        //
        //         messages: { // custom messages for radio buttons and checkboxes
        //             // old_ps: {
        //             //     minlength: '最少6个字符',
        //             //     required: '不能为空'
        //             // },
        //             // ps: {
        //             //     minlength: '最少6个字符',
        //             //     required: '不能为空'
        //             // },
        //             // ps_sure: {
        //             //     minlength: '最少6个字符',
        //             //     required: '不能为空',
        //             //     equalTo:'两次密码不一致'
        //             // }
        //         },
        //
        //         errorPlacement: function (error, element) { // render error placement for each input type
        //             if (element.parent(".input-group").size() > 0) {
        //                 error.insertAfter(element.parent(".input-group"));
        //             } else if (element.attr("data-error-container")) {
        //                 error.appendTo(element.attr("data-error-container"));
        //             } else if (element.parents('.radio-list').size() > 0) {
        //                 error.appendTo(element.parents('.radio-list').attr("data-error-container"));
        //             } else if (element.parents('.radio-inline').size() > 0) {
        //                 error.appendTo(element.parents('.radio-inline').attr("data-error-container"));
        //             } else if (element.parents('.checkbox-list').size() > 0) {
        //                 error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
        //             } else if (element.parents('.checkbox-inline').size() > 0) {
        //                 error.appendTo(element.parents('.checkbox-inline').attr("data-error-container"));
        //             } else {
        //                 error.insertAfter(element); // for other inputs, just perform default behavior
        //             }
        //         },
        //
        //         invalidHandler: function (event, validator) { //display error alert on form submit
        //             success3.hide();
        //             error3.show();
        //             Metronic.scrollTo(error3, -200);
        //         },
        //
        //         highlight: function (element) { // hightlight error inputs
        //             $(element)
        //                 .closest('.form-group').addClass('has-error'); // set error class to the control group
        //         },
        //
        //         unhighlight: function (element) { // revert the change done by hightlight
        //             $(element)
        //                 .closest('.form-group').removeClass('has-error'); // set error class to the control group
        //         },
        //
        //         success: function (label) {
        //             label
        //                 .closest('.form-group').removeClass('has-error'); // set success class to the control group
        //         },
        //
        //         submitHandler: function (form) {
        //             var btn = $(this);
        //             btn.button('loading');
        //
        //             success3.show();
        //             error3.hide();
        //             form[0].submit(); // submit the form
        //         }
        //
        //     });
        //
        // }


        {
            // for more info visit the official plugin documentation:
            // http://docs.jquery.com/Plugins/Validation

            var form2 = $('#form_sample_3');
            // var error2 = $('.alert-danger', form2);
            // var success2 = $('.alert-success', form2);

            form2.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    title: {
                        minlength: 2,
                        required: true
                    },
                    province: {
                        required: true
                    },
                    city: {
                        required: true
                    },
                    county: {
                        required: true
                    },
                    town: {
                        required: true,
                    },
                    realname: {
                        required: true,
                    },
                    pic: {
                        required: true,
                    },
                    id_card_num: {
                        required: true,
                    },
                    sex: {
                        required: true,
                    },
                    fee_percent: {
                        required: true,
                    },
                    mobile: {
                        required: true,
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    // success2.hide();
                    // error2.show();
                    // Metronic.scrollTo(error2, -200);
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    var icon = $(element).parent('.input-icon').children('i');
                    icon.removeClass('fa-check').addClass("fa-warning");
                    icon.attr("data-original-title", error.text()).tooltip({'container': 'body'});
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight

                },

                success: function (label, element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    icon.removeClass("fa-warning").addClass("fa-check");
                },

                submitHandler: function (form) {
                    // success2.show();
                    // error2.hide();
                    form[0].submit(); // submit the form
                }
            });


        }


        return {
            //main function to initiate the module
            init: function () {

                handleValidation3();

            }

        };

    }();

    jQuery(document).ready(function() {
        FormValidation.init();

    });
</script>

